.card.auth-card {
    max-width: 500px;
    margin-top: 50px;
}
.logo-single {
    margin-bottom: 20px;
}
.btn-google{
  background-color: #DD4B39;
  color: #ffffff;
}
.loading{
	margin-left: -15px;
}
.site-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffffcf;
}
.btn-action {
    width: auto !important;
}
.feedback-custom.invalid-feedback {
    display: block;
    margin-top: -12px;
}
.btn.folder-action {
    width: 75px;
    margin-bottom: 2px;
    display: block;
}
.folder-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#editAccount input#email{
    background-color: #e9ecef;
    opacity: 1;
    pointer-events: none;
}
.no-result {
    text-align: center;
    width: 100%;
    color: #666;
}

.dropzone{
    min-height: 115px;
    height: auto !important;
}
.file-action{
    margin-left: 4px;
}

/*Added 14-Nov-2018*/

form .dropzone .dz-preview.dz-processing.dz-image-preview {
    border: none;
    position: relative;
}
form .dropzone .dz-preview.dz-processing.dz-image-preview .dz-details {
    padding: 0;
}
form .dropzone .dz-preview.dz-processing.dz-image-preview .dz-image {
    height: auto;
    width: 25%;
}
form .dropzone .dz-preview.dz-processing.dz-image-preview .dz-image img {
    width: 100%;
}
form .dropzone .dz-preview.dz-processing.dz-image-preview .dz-details .dz-size {
    margin-bottom: 0;
}
form .dropzone .dz-preview.dz-processing.dz-image-preview .dz-details {
    padding: 10px 0 0;
}


/*.drop-area .dropzone .dz-preview {
    width: calc( 100% - 32px ) !important;
}
.dropzone .dz-preview.dz-image-preview .dz-details {
    width: calc( 100% - 120px );
    float: left;
}
.dropzone .dz-preview .dz-image {
    float: left;
}*/


.login-main {
    background-color: #6EAF7E;
    height: 100vh;
}
.login-main .card.auth-card.mx-auto {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.login-main span.logo-single {
    margin-bottom: 0;
    text-align: center;
    margin: 0 auto 30px;
    display: table;
    width: 100%;
}
.login-main button.btn.btn-primary.btn-lg.btn-shadow.btn-login,
button.download,
button[form="uploadFile"],
button[form="uploadFile"]:hover,
button.save,
button.btn-primary:disabled,
button.update,
button.update:hover,
button.save:hover {
    background-color: #5E7FB1;
    border-color: #5E7FB1;
}
.login-main button.btn-google {
    background-color: #6EAF7E;
}
body .navbar .navbar-logo {
    width: 100%;
}
.navbar .menu-button img {
    background-color: #6EAF7E;
    width: 37px;
    padding: 8px 9px;
    border-radius: 5px;
}

/*@media query */

@media only screen and (max-width: 767px) {
.login-main .card.auth-card.mx-auto {
    width: 90%;
}
}
@media screen and (max-device-width: 767px) and (orientation: landscape) {
.login-main {
    height: 100%;
    padding: 40px 0;
}
.login-main .card.auth-card.mx-auto {
    width: 90%;
    position: relative;
    top: 0;
    transform: inherit;
}    
}