/* Dore Main Style 

Table of Contents

00.Variables and Imports
01.Base
02.Buttons
03.Widths
04.Borders
05.Badges
06.Breadcrumb
07.Tabs
08.Owl Carousel
09.Slick Slider
10.Navbar
11.Menu
12.Apps
13.Chat App
14.Survey App
15.Todo App
16.Main
17.Cards
18.Dashboard
19.Calendar
20.Datatable
21.Alerts
22.Forms
23.Slider(Range)
24.Navs
25.Tooltip and popover
26.Progress
27.Rating
28.Sortable
29.Spinner
30.Croppper
31.Modal
32.Authorization
33.Html Editors
34.Icons
35.Loading
*/

/* 00.Variables and Imports */

@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700");

$main-menu-item-height: 110px;
$main-menu-width: 120px;
$main-menu-width-lg: 110px;
$main-menu-width-md: 100px;
$main-menu-width-xs: 90px;

$sub-menu-width: 230px;
$sub-menu-width-lg: 220px;
$sub-menu-width-md: 200px;
$sub-menu-width-xs: 190px;

$navbar-height: 120px;
$navbar-height-xs: 70px;
$navbar-height-md: 80px;
$navbar-height-lg: 90px;

$main-margin: 60px;
$main-margin-lg: 50px;
$main-margin-md: 40px;
$main-margin-xs: 15px;

$app-menu-width: 280px;

$main-menu-item-height-mobile: 90px;

$menu-collapse-time: 300ms;
$animation-time-long: 1000ms;
$animation-time-short: 200ms;

$border-radius: 0.1rem;

$theme-color-purple: #922c88;
$theme-color-blue: #145388;
$theme-color-green: #576a3d;
$theme-color-orange: #e2863b;
$theme-color-red: #880a1f;

/* 01.Base */
html {
  width: 100%;
  height: 100%;
  background: $background-color;
}

:root {
  --theme-color-1: #{$theme-color-1};
  --theme-color-2: #{$theme-color-2};
  --theme-color-3: #{$theme-color-3};
  --theme-color-4: #{$theme-color-4};
  --theme-color-5: #{$theme-color-5};
  --theme-color-6: #{$theme-color-6};
  --theme-color-1-10: #{rgba($theme-color-1, 0.1)};
  --theme-color-2-10: #{rgba($theme-color-2, 0.1)};
  --theme-color-3-10: #{rgba($theme-color-3, 0.1)};
  --theme-color-4-10: #{rgba($theme-color-4, 0.1)};
  --theme-color-5-10: #{rgba($theme-color-5, 0.1)};
  --theme-color-6-10: #{rgba($theme-color-6, 0.1)};
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: $primary-color;
  background: $background-color;

  &.background {
    height: 100%;

    main {
      margin: 0 !important;
      height: 100%;

      .container {
        height: 100%;
      }
    }
  }
}

.fixed-background {
  background: url("../img/balloon.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#displayOptions {
  a {
    cursor: pointer;
  }
  a.active i {
    color: $theme-color-1;
  }
}

.scroll {
  margin-right: -15px;
  padding-right: 15px;
  position: relative;
}

.dropdown-menu {
  font-size: 0.8rem;
  border-radius: $border-radius;
  background: $input-background;
  border-color: rgba($primary-color, 0.15);
}
.dropdown-item {
  padding: 0.75rem 1.5rem;
  color: $primary-color;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: $theme-color-1;
}

::selection {
  background: lighten($theme-color-3, 20%);
}
::-moz-selection {
  background: lighten($theme-color-3, 20%);
}

.ps__thumb-y {
  background-color: $separator-color;
}

.logo-single {
  width: 110px;
  height: 35px;
  background: url($backgroundPath) no-repeat;
  background-position: center center;
  display: inline-block;
  margin-bottom: 60px;
}

h1 {
  font-size: 1.75rem;
  padding-bottom: 10px;
  display: inline-block;

  @include respond-below(sm) {
    font-size: 1.3rem;
    padding-top: 0.5rem;
  }
}

h2 {
  font-size: 1.4rem;
  @include respond-below(sm) {
    font-size: 1.1rem;
  }
}

h3 {
  font-size: 1.3rem;
  @include respond-below(sm) {
    font-size: 1rem;
  }
}

h3 {
  font-size: 1.2rem;
  @include respond-below(sm) {
    font-size: 1rem;
  }
}

h4 {
  font-size: 1.15rem;
  @include respond-below(sm) {
    font-size: 0.9rem;
  }
}

h5 {
  font-size: 1.1rem;
  @include respond-below(sm) {
    font-size: 0.9rem;
  }
}

h6 {
  font-size: 1rem;
  @include respond-below(sm) {
    font-size: 0.85rem;
  }
}

.r-0 {
  right: 0;
}

.l-0 {
  left: 0;
}

.list-item-heading {
  font-size: 1rem;
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.min-width-zero {
  min-width: 0;
}

.no-transition {
  transition: none !important;
}

button {
  color: $primary-color;
  outline: initial !important;
}

.display-1 {
  @include respond-below(sm) {
    font-size: 2.8rem;
  }
}

.display-2 {
  @include respond-below(sm) {
    font-size: 2.6rem;
  }
}

.display-3 {
  @include respond-below(sm) {
    font-size: 2.4rem;
  }
}

.display-4 {
  @include respond-below(sm) {
    font-size: 2.2rem;
  }
}

.lead {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2rem;
  @include respond-below(sm) {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}

.mb-5,
.my-5 {
  margin-bottom: 2rem !important;
}

.float-none-xs {
  @include respond-below(xs) {
    float: initial !important;
  }
}

.main-heading {
  border-bottom: 1px solid $separator-color;
}

.separator {
  border-bottom: 1px solid $separator-color;
}

.alert-dismissible .close {
  padding: 0.5rem 1.25rem;
}

.rounded {
  border-radius: 50px !important;
}

.img-thumbnail {
  border-radius: $border-radius;
  padding: 0;
  border: initial;
}

.list-thumbnail {
  border-radius: $border-radius;
  padding: 0;
  border: initial;
  height: auto;
  max-width: unset;
  height: 85px;
  object-fit: cover;
  width: unset !important;

  @include respond-below(md) {
    height: 80px;
  }
  @include respond-below(xs) {
    height: 70px;
  }

  &.responsive {
    @include respond-below(md) {
      width: unset;
      height: 135px;
    }

    @include respond-below(xs) {
      width: 110px !important;
      height: 100%;
    }

    @include respond-below(xxs) {
      width: 90px !important;
      height: 100%;
    }
  }

  &.small {
    height: 60px;
    font-size: 1rem;

    @include respond-below(md) {
      height: 55px;
    }
    @include respond-below(xs) {
      height: 50px;
    }
  }

  &.xsmall {
    height: 40px;
    font-size: 1rem;

    @include respond-below(md) {
      height: 40px;
    }
    @include respond-below(xs) {
      height: 40px;
    }
  }
}

.list-thumbnail-letters {
  width: 85px;
  height: 85px;
  background: $theme-color-1;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  color: white;

  @include respond-below(md) {
    width: 80px;
    height: 80px;
  }
  @include respond-below(xs) {
    width: 70px;
    height: 70px;
  }

  &.small {
    width: 60px;
    height: 60px;
    font-size: 1rem;

    @include respond-below(md) {
      width: 55px;
      height: 55px;
    }
    @include respond-below(xs) {
      width: 50px;
      height: 50px;
    }
  }
}

a {
  color: $primary-color;
  transition: color $animation-time-short;
  &:hover,
  &:active {
    text-decoration: initial;
    color: $theme-color-1;
  }
}

.white {
  color: white;
}

p {
  font-size: 0.85rem;
  line-height: 1.3rem;
  font-family: "Nunito", sans-serif;
}

.text-large {
  font-size: 1.9rem;
}

.text-xlarge {
  font-size: 2.7rem;
}

.text-small {
  font-size: 0.76rem;
  line-height: 0.9rem;
}

.text-zero {
  font-size: 0;
}

.text-extra-small {
  font-size: 0.7rem;
}

.text-muted {
  color: $muted-color !important;
}

.text-semi-muted {
  color: darken($muted-color, 20%) !important;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.color-theme-1 {
  color: $theme-color-1;
}

.color-theme-2 {
  color: $theme-color-2;
}

.view-icon {
  font-size: 15px;
  color: $secondary-color;

  &:hover {
    color: $theme-color-1;
  }

  &.s {
    font-size: 14px;
  }
}

/* 02.Buttons */

.btn-arrow {
  display: inline-block;
  text-align: center;
  border-radius: 30px !important;
  width: 42px;
  height: 42px;
  line-height: 24px;
}

.btn-arrow i {
  font-size: 15px;
  display: inline-block;
  text-align: center;
}

.btn-sm.btn-arrow {
  width: 34px;
  height: 34px;
  line-height: 17px;
}

.btn-sm.btn-arrow i {
  font-size: 13px;
  line-height: 10px;
}

.btn {
  border-radius: 50px;
  outline: initial !important;
  box-shadow: none !important;
  box-shadow: initial !important;
  font-size: 0.8rem;
  padding: 0.75rem 1.3rem 0.6rem 1.3rem;
  transition: background-color box-shadow 0.1s linear;
}

.btn-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 1px rgba(0, 0, 0, 0.15) !important;
  transition: background-color box-shadow 0.1s linear;

  &:hover,
  &:focus {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15),
      0 4px 6px 2px rgba(0, 0, 0, 0.15) !important;
  }
}

.btn-empty {
  background: transparent;
}

.btn-lg,
.btn-group-lg > .btn,
.btn-group-sm > .btn {
  border-radius: 50px;
}

.btn.default {
  border-radius: $border-radius;
}

.btn-primary {
  background-color: $theme-color-1;
  border-color: $theme-color-1;

  &:hover {
    background-color: darken($theme-color-1, 8%);
    border-color: darken($theme-color-1, 8%);
  }
}

.check-button {
  cursor: default !important;
}

.check-button.btn-primary {
  background-color: $theme-color-1 !important;
  border-color: $theme-color-1 !important;
  opacity: 1;
}

.check-button .custom-control {
  min-height: 1.1rem;
  margin-top: -7px;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: darken($theme-color-1, 12%);
  border-color: darken($theme-color-1, 12%);
}

.btn-secondary {
  background-color: $theme-color-2;
  border-color: $theme-color-2;

  &:hover {
    background-color: darken($theme-color-2, 8%);
    border-color: darken($theme-color-2, 8%);
  }
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  background-color: darken($theme-color-2, 12%);
  border-color: darken($theme-color-2, 12%);
}

.btn-primary.btn-primary-gradient {
  background: linear-gradient(
    to right,
    $theme-color-1,
    darken($theme-color-1, 15%)
  );

  &:hover {
    background: linear-gradient(
      to right,
      $theme-color-1,
      darken($theme-color-1, 8%)
    );
  }
}

.btn-primary-gradient:not(:disabled):not(.disabled):active,
.btn-primary-gradient:not(:disabled):not(.disabled).active,
.show > .btn-primary-gradient.dropdown-toggle {
  background: linear-gradient(
    to right,
    $theme-color-1,
    darken($theme-color-1, 15%)
  );
}

.btn-secondary-gradient {
  background: linear-gradient(
    to right,
    $theme-color-2,
    darken($theme-color-2, 15%)
  );
  &:hover {
    background: linear-gradient(
      to right,
      $theme-color-2,
      darken($theme-color-2, 8%)
    );
  }
}

.btn-secondary-gradient:not(:disabled):not(.disabled):active,
.btn-secondary-gradient:not(:disabled):not(.disabled).active,
.show > .btn-secondary-gradient.dropdown-toggle {
  background: linear-gradient(
    to right,
    $theme-color-2,
    darken($theme-color-2, 15%)
  );
}

.btn-dark {
  color: #fff;
  background-color: $secondary-color;
  border-color: $secondary-color;
  &:hover {
    background-color: darken($secondary-color, 8%);
    border-color: darken($secondary-color, 8%);
  }
}

.btn-light {
  color: #fff;
  background-color: $separator-color;
  border-color: $separator-color;
  &:hover {
    background-color: darken($separator-color, 8%);
    border-color: darken($separator-color, 8%);
  }
}

.btn-outline-dark {
  color: $secondary-color;
  border-color: $secondary-color;

  &:hover {
    color: #fff;
    background-color: darken($secondary-color, 8%);
    border-color: darken($secondary-color, 8%);
  }
}

.btn-outline-white {
  color: white;
  border-color: white;
  background-color: initial;

  &:hover {
    color: $separator-color;
    background-color: white;
  }
}

.btn-outline-light {
  color: $separator-color;
  border-color: $separator-color;

  &:hover {
    color: #fff;
    background-color: darken($separator-color, 8%);
    border-color: darken($separator-color, 8%);
  }
}

.btn-outline-primary {
  color: $theme-color-1;
  border-color: $theme-color-1;
  &:hover {
    background-color: $theme-color-1;
    border-color: $theme-color-1;
  }
}

.btn-outline-theme-3 {
  background: unset;
  color: $theme-color-3;
  border-color: $theme-color-3;
  &:hover {
    background-color: $theme-color-3;
    border-color: $theme-color-3;
    color: white;
  }
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: $theme-color-1;
  border-color: $theme-color-1;
}

.btn-outline-secondary {
  color: $theme-color-2;
  border-color: $theme-color-2;
  &:hover {
    background-color: $theme-color-2;
    border-color: $theme-color-2;
  }
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: $theme-color-2;
  border-color: $theme-color-2;
}

.btn-header-light {
  color: $separator-color;
  border-color: transparent;
  background: transparent;

  &:hover {
    background-color: transparent;
    border-color: $separator-color;
  }
}

.btn-header-primary {
  color: $theme-color-1;
  border-color: transparent;
  background: transparent;

  &:hover {
    background-color: transparent;
    border-color: $theme-color-1;
  }
}

.btn-header-secondary {
  color: $theme-color-2;
  border-color: transparent;
  background: transparent;

  &:hover {
    background-color: transparent;
    border-color: $theme-color-2;
  }
}

.btn-header-primary-light {
  color: $theme-color-3;
  border-color: transparent;
  background: transparent;

  &:hover {
    background-color: transparent;
    border-color: $theme-color-3;
  }
}

.btn-lg,
.btn-group-lg > .btn {
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 0.75rem 2.6rem 0.6rem 2.6rem;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 0.4rem 1rem 0.5rem 1rem;
  font-size: 0.76rem;
  line-height: 1.5;
}

.btn-xs,
.btn-group-xs > .btn {
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  font-size: 0.76rem;
  line-height: 1.3;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: lighten($secondary-color, 30%);
  border-color: lighten($secondary-color, 30%);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  background-color: lighten($secondary-color, 30%);
  border-color: lighten($secondary-color, 30%);
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.btn-link {
  color: $theme-color-1;
}

.btn-link:hover {
  color: darken($theme-color-1, 20%);
  text-decoration: underline;
}

.btn-multiple-state {
  position: relative;
  transition: opacity 500ms;

  .spinner,
  .icon {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 500ms;
  }

  .icon i {
    vertical-align: text-bottom;
    font-size: 24px;
  }

  .label {
    transition: opacity 500ms;
  }

  &.show-spinner {
    .label {
      opacity: 0;
    }

    .spinner {
      opacity: 1;
      visibility: visible;
    }
  }

  &.show-success {
    .label {
      opacity: 0;
    }

    .icon.success {
      opacity: 1;
      visibility: visible;
    }
  }

  &.show-fail {
    .label {
      opacity: 0;
    }

    .icon.fail {
      opacity: 1;
      visibility: visible;
    }
  }
}

.icon-button {
  padding: 0;
  font-size: 14px;
  width: 34px;
  height: 34px;
  line-height: 34px;

  &.large {
    width: 44px;
    height: 44px;
  }

  &.small-icon {
    font-size: 12px;
    line-height: 32px;
  }
}

.top-right-button {
  width: calc(100% - 80px);
  @include respond-below(xs) {
    padding-left: 0;
    padding-right: 0;
  }
}

.top-right-button-single {
  width: unset;
  @include respond-below(md) {
    width: calc(100%);
  }
}

/* 03.Widths */
.w-10 {
  width: 10% !important;
}

.w-90 {
  width: 90% !important;
}

.w-12 {
  width: 12% !important;
}

.w-88 {
  width: 88% !important;
}

.w-15 {
  width: 15% !important;
}

.w-85 {
  width: 85% !important;
}

.w-20 {
  width: 20% !important;
}

.w-80 {
  width: 80% !important;
}

.w-30 {
  width: 30% !important;
}

.w-70 {
  width: 70% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.w-xs-100 {
  @include respond-below(sm) {
    width: 100% !important;
  }
}

.w-sm-100 {
  @include respond-below(md) {
    width: 100% !important;
  }
}

/* 04.Borders */
.border {
  border: 1px solid $separator-color-light !important;
}

.border-right {
  border-right: 1px solid $separator-color-light !important;
}

.border-left {
  border-left: 1px solid $separator-color-light !important;
}

.border-top {
  border-top: 1px solid $separator-color-light !important;
}

.border-bottom {
  border-bottom: 1px solid $separator-color-light !important;
}

.border-primary,
.border-theme-1 {
  border-color: $theme-color-1 !important;
}
.border-theme-2 {
  border-color: $theme-color-2 !important;
}
.border-theme-3 {
  border-color: $theme-color-3 !important;
}
.border-secondary {
  border-color: $primary-color !important;
}

/* Colors */
.text-theme-2 {
  color: $theme-color-2 !important;
}
.text-theme-3 {
  color: $theme-color-3 !important;
}
.text-primary,
.text-theme-1 {
  color: $theme-color-1 !important;
}
.text-secondary {
  color: $primary-color !important;
}

/* 05.Badges */

.bg-theme-2,
.badge-theme-2 {
  background-color: $theme-color-2 !important;
  color: #fff;
}
.bg-theme-3,
.badge-theme-3 {
  background-color: $theme-color-3 !important;
  color: #fff;
}
.bg-primary,
.bg-theme-1,
.badge-primary,
.badge-theme-1 {
  background-color: $theme-color-1 !important;
  color: #fff;
}
.bg-secondary,
.badge-secondary {
  background-color: $theme-color-2 !important;
  color: #fff;
}

.badge {
  padding: 0.55em 0.75em 0.6em 0.75em;
  font-size: 75%;
  &.badge-pill {
    padding-right: 1.25em;
    padding-left: 1.25em;
  }

  &.badge-top-left {
    top: 7px;
    right: -8px;
  }

  &.badge-top-left-2 {
    top: 40px;
    right: -8px;
  }
}

.badge-outline-primary,
.badge-outline-theme-1 {
  background: unset;
  border: 1px solid $theme-color-1;
  color: $theme-color-1;
}

.badge-outline-secondary,
.badge-outline-theme-2 {
  background: unset;
  border: 1px solid $theme-color-2;
  color: $theme-color-2;
}

.badge-outline-theme-3 {
  background: unset;
  border: 1px solid $theme-color-3;
  color: $theme-color-3;
}

.badge-outline-success {
  background: unset;
  border: 1px solid #28a745;
  color: #28a745;
}

.badge-outline-danger {
  background: unset;
  border: 1px solid #dc3545;
  color: #dc3545;
}

.badge-outline-warning {
  background: unset;
  border: 1px solid #ffc107;
  color: #ffc107;
}

.badge-outline-info {
  background: unset;
  border: 1px solid #17a2b8;
  color: #17a2b8;
}

.badge-outline-light {
  background: unset;
  border: 1px solid $separator-color;
  color: $secondary-color;
}

.badge-outline-dark {
  background: unset;
  border: 1px solid $secondary-color;
  color: $secondary-color;
}

/* 06.Breadcrumb */
.breadcrumb-container {
  .breadcrumb {
    @include respond-below(md) {
      padding: 0;
    }
  }
}

.breadcrumb {
  background-color: transparent;
  margin-bottom: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "|";
}

/* 07.Tabs */
.nav-tabs .nav-link {
  border: initial;
  padding-top: 1rem;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background: $foreground-color;
}

.nav-tabs .nav-link.active::before,
.nav-tabs .nav-item.show .nav-link::before {
  content: " ";
  background: $theme-color-1;
  color: white;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  top: 0;
}

.nav-tabs.separator-tabs .nav-link.active::before,
.nav-tabs.separator-tabs .nav-item.show .nav-link::before {
  content: " ";
  background: $theme-color-1;
  color: white;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  top: unset;
}

.nav-tabs.separator-tabs .nav-link {
  border: initial;
  padding-top: 1rem;
  background: initial;
  padding-left: 0;
  padding-top: 0.5rem;
  padding-right: 0;
  margin-right: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: $secondary-color;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border: initial;
  position: relative;
  color: $theme-color-1;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border: initial;
  color: $theme-color-1;
}

/* 08.Owl Carousel */
.owl-stage {
  margin-bottom: 1.5rem;
}
.owl-stage {
  display: flex;
}
.owl-item {
  display: flex;
  .card {
    display: flex;
    flex-grow: 1;

    .w-50 {
      display: flex;
    }
    .card-body {
      flex-direction: column;
      display: flex;
      justify-content: space-between;
    }
  }
}

.slider-nav {
  .left-arrow,
  .right-arrow {
    font-size: 20px;
    color: $theme-color-1;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
  }

  .slider-dot-container {
    display: inline-block;
  }
}

.owl-dot,
.slick-dot {
  width: 6px;
  height: 6px;
  border-radius: 10px;
  color: #00a7e2;
  background: lighten($theme-color-1, 40%);
  outline: initial !important;
  border: initial;
  margin: 0 5px;
  padding: 0;
}

.owl-dot.active,
.slick-dots li.slick-active button {
  background: $theme-color-1;
}

.best-rated-items .owl-stage img {
  max-width: 230px;
}

/* 09.Slick Slider */
.slick .slick-slide {
  margin-left: 15px;
  margin-right: 15px;
  outline: initial !important;
  height: unset;

  &.card {
    display: flex;
    flex-grow: 1;

    .w-50 {
      display: flex;
    }
    .card-body {
      flex-direction: column;
      display: flex;
      justify-content: space-between;
    }
  }
}

.slick-list {
  display: flex;
}

.slick-track {
  padding-bottom: 30px;
  display: flex;
}

.carousel-center-col {
  @include respond-below(md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.slick-dots {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
  }
}

/* 10.Navbar*/
.navbar {
  background: $foreground-color;
  height: $navbar-height;
  padding: 1.5rem $main-margin 1.5rem 0;
  @include depth(1);

  #notificationDropdown {
    width: 260px;
    padding: 1.5rem;
    height: 280px;
    right: 15px;
  }

  #iconMenuDropdown {
    width: 240px;
    padding: 1.5rem;
    height: 290px;
  }

  .icon-menu-item {
    width: 90px;
    display: inline-block;
    text-align: center;
    margin-bottom: 1.7rem;
    color: lighten($primary-color, 20%);

    i {
      font-size: 32px;
      line-height: 42px;
    }

    span {
      text-align: center;
      padding: 0 10px;
      line-height: 14px;
    }

    &:hover,
    &:focus {
      color: $theme-color-1;
    }
  }

  .menu-button-mobile {
    color: $secondary-color;
    text-align: center;
    svg {
      height: 12px;
      fill: $primary-color;
    }

    @include respond-below(sm) {
      width: 20px;
    }
  }

  .menu-button {
    color: $secondary-color;
    width: $main-menu-width;
    text-align: center;

    svg {
      height: 12px;
    }

    .main {
      fill: $primary-color;
      transition: fill $menu-collapse-time;
    }

    .sub {
      fill: $primary-color;
      transition: fill $menu-collapse-time;
    }

    &:hover {
      color: $theme-color-1;
    }

    @include respond-below(sm) {
      width: 60px;
    }
  }

  .navbar-logo {
    width: 110px;
    height: 35px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;

    .logo {
      width: 100%;
      height: 100%;
      background: url($backgroundPath) no-repeat;
      background-position: center center;
    }

    .logo-mobile {
      width: 100%;
      height: 100%;
      background: url($backgroundPathMobile) no-repeat;
      background-position: center center;
    }

    @include respond-below(sm) {
      width: 80px;
    }

    @include respond-below(xxs) {
      width: 20px;
    }
  }

  .search {
    position: relative;
    width: $sub-menu-width;
    border-radius: 20px;
    background: $background-color;

    input {
      border: initial;
      background: transparent;
      outline: initial !important;
      padding: 0.5rem 1rem;
      line-height: 2;
      font-size: 0.8rem;
      width: 93%;
      color: $primary-color;
    }

    .search-icon {
      font-size: 17px;
      border-radius: 10px;
      color: $separator-color;
      position: absolute;
      width: 40px;
      height: 40px;
      bottom: -6px;
      right: 3px;
      text-align: center;
      cursor: pointer;
      &:hover {
        color: $theme-color-1;
      }
    }

    @include respond-below(md) {
      width: $sub-menu-width/2;
      input {
        width: 85%;
      }
    }

    @include respond-below(sm) {
      width: 30px;
      height: 30px;
      background: initial;
      margin-left: 0.6rem;
      color: lighten($primary-color, 30%);

      input {
        display: none;
      }

      .search-icon {
        font-size: 17px;
        width: 30px;
        height: 30px;
        bottom: -3px;
        right: 0;
        color: inherit;
      }

      &.mobile-view {
        display: block;
        width: 100%;
        position: fixed;
        z-index: 2;
        background: $foreground-color;
        left: 0;
        top: 0;
        height: $navbar-height-xs;
        margin-left: 15px;

        input {
          display: block;
          width: 100%;
          height: 70px;
          padding-left: 0;
        }

        span {
          top: 50%;
          transform: translateY(-50%);
          right: 25px;
        }
      }
    }
  }

  .header-icons {
    margin-right: 1rem;

    @include respond-below(xs) {
      margin-right: 0;
    }
  }

  .header-icon {
    font-size: 16px;
    color: lighten($primary-color, 30%);
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    vertical-align: initial;

    @include respond-below(xs) {
      padding-left: 0.3rem;
      padding-right: 0.3rem;
    }

    &:hover {
      color: $theme-color-1;
    }

    &#fullScreenButton i:last-of-type {
      display: none;
    }

    &#notificationButton {
      &:after {
        font-size: 10px;
        content: "3";
        color: $theme-color-1;
        border: 1px solid $theme-color-1;
        border-radius: 10px;
        position: absolute;
        width: 15px;
        height: 15px;
        text-align: center;
        font-weight: 700;
        top: 2px;
        right: 3px;
        line-height: 14px;

        @include respond-below(xs) {
          right: -1px;
        }
      }
    }
  }

  .user {
    color: lighten($primary-color, 30%);
    position: relative;

    img {
      margin-left: 10px;
      border-radius: 30px;
      width: 40px;
    }

    @include respond-below(md) {
      .name {
        display: none;
      }
    }

    @include respond-below(sm) {
      img {
        width: 30px;
      }

      margin-left: initial;

      &:after {
        font-size: 11px;
        width: 14px;
        height: 14px;
        bottom: -3px;
        right: -3px;
      }
    }
  }

  @include respond-below(xl) {
    height: $navbar-height-lg;
  }

  @include respond-below(lg) {
    height: $navbar-height-md;
    padding: 1.5rem $main-margin-md 1.5rem 0;
  }

  @include respond-below(sm) {
    height: $navbar-height-xs;
    padding: $main-margin-xs;
  }
}

//Menu Config Button
#app-container {
  &.sub-hidden .menu-button,
  &.menu-sub-hidden .menu-button {
    .sub {
      fill: lighten($primary-color, 40%);
    }
  }
  &.main-hidden .menu-button,
  &.menu-hidden .menu-button {
    .main,
    .sub {
      fill: lighten($primary-color, 40%);
    }
  }
}

/* 11.Menu*/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: $navbar-height;
  z-index: 5;

  .main-menu {
    width: $main-menu-width;
    height: 100%;
    background: $foreground-color;
    z-index: 3;
    position: fixed;
    transition: transform $menu-collapse-time;
    padding-top: 2px;
    left: 0;
    .scroll {
      padding-right: unset;
      margin-right: unset;
      .ps__thumb-y {
        right: 0;
      }
    }

    ul li {
      position: relative;
      span {
        text-align: center;
        padding: 0 10px;
        line-height: 14px;
      }
      a {
        height: $main-menu-item-height;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        border-bottom: 1px solid $separator-color-light;
        color: lighten($primary-color, 20%);
        transition: color $menu-collapse-time;
        transition: background $menu-collapse-time;

        &:hover,
        &:focus {
          color: $theme-color-1;
          background: $background-color;
        }
      }

      i {
        font-size: 32px;
        line-height: 42px;
      }

      &.active a {
        color: $theme-color-1;
      }

      &.active:after {
        content: " ";
        background: $theme-color-1;
        color: white;
        border-radius: 10px;
        position: absolute;
        width: 6px;
        height: 90px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }

    @include respond-below(xl) {
      width: $main-menu-width-lg;
    }

    @include respond-below(lg) {
      width: $main-menu-width-md;
    }

    @include respond-below(sm) {
      width: $main-menu-width-xs;

      ul li i {
        font-size: 26px;
        line-height: 30px;
      }

      ul li a {
        height: $main-menu-item-height-mobile;
      }

      ul li.active:after {
        width: 3px;
        height: 60px;
      }
    }
  }

  .sub-menu {
    width: $sub-menu-width;
    height: 100%;
    background: $foreground-color;
    z-index: 2;
    position: fixed;
    left: $main-menu-width;
    border-left: 1px solid $separator-color-light;
    @include depth(2);
    transition: transform $menu-collapse-time;

    .scroll {
      margin-top: 2px;
      margin-right: unset;
      padding-right: unset;
      .ps__thumb-y {
        right: 0;
      }
    }

    .ps {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    ul {
      display: none;
      li {
        margin-bottom: 10px;
        margin-left: 30px;
        a {
          font-size: 13px;
          display: block;
          padding: 8px 0;
        }
        i {
          font-size: 1.2em;
          margin-right: 10px;
          color: lighten($primary-color, 30%);
          vertical-align: unset;
        }

        &.active i,
        &.active a {
          color: $theme-color-1;
        }

        @include respond-below(sm) {
          margin-left: 15px;
        }
      }
    }

    @include respond-below(xl) {
      left: $main-menu-width-lg;
      width: $sub-menu-width-lg;
    }

    @include respond-below(lg) {
      left: $main-menu-width-md;
      width: $sub-menu-width-md;
    }

    @include respond-below(sm) {
      left: $main-menu-width-xs;
      width: $sub-menu-width-xs;
    }
  }

  @include respond-below(xl) {
    padding-top: $navbar-height-lg;
  }

  @include respond-below(lg) {
    padding-top: $navbar-height-md;
  }

  @include respond-below(sm) {
    padding-top: $navbar-height-xs;
    @include depth(1);
  }
}

//Menu Config Main Menu Sub Menu
#app-container {
  &.sub-hidden .sub-menu,
  &.menu-sub-hidden .sub-menu,
  &.menu-hidden .sub-menu {
    transform: translateX(-$sub-menu-width);

    @include respond-below(xl) {
      transform: translateX(-$sub-menu-width-lg);
    }

    @include respond-below(lg) {
      transform: translateX(-$sub-menu-width-md);
    }

    @include respond-below(sm) {
      transform: translateX(-$sub-menu-width-xs);
    }
  }

  &.main-hidden .main-menu,
  &.menu-hidden .main-menu {
    transform: translateX(-$main-menu-width);

    @include respond-below(xl) {
      transform: translateX(-$main-menu-width-lg);
    }

    @include respond-below(lg) {
      transform: translateX(-$main-menu-width-md);
    }

    @include respond-below(sm) {
      transform: translateX(-$main-menu-width-xs);
    }
  }

  &.main-hidden.sub-hidden .sub-menu,
  &.menu-hidden .sub-menu {
    transform: translateX(-$sub-menu-width - $main-menu-width);

    @include respond-below(xl) {
      transform: translateX(-$sub-menu-width-lg - $main-menu-width-lg);
    }

    @include respond-below(lg) {
      transform: translateX(-$sub-menu-width-md - $main-menu-width-md);
    }

    @include respond-below(sm) {
      transform: translateX(-$sub-menu-width-xs - $main-menu-width-xs);
    }
  }

  //Mobile
  &.menu-mobile {
    .main-menu {
      transform: translateX(-$main-menu-width-xs);
    }
    .sub-menu {
      transform: translateX(-$sub-menu-width-xs - $main-menu-width-xs - 50);
    }
  }

  //Show Temporary
  &.main-show-temporary {
    .main-menu {
      transform: translateX(0);
    }
    .sub-menu {
      transform: translateX(-$sub-menu-width);
    }

    @include respond-below(xl) {
      .main-menu {
        transform: translateX(0);
      }
      .sub-menu {
        transform: translateX(-$sub-menu-width-lg);
      }
    }

    @include respond-below(lg) {
      .main-menu {
        transform: translateX(0);
      }
      .sub-menu {
        transform: translateX(-$sub-menu-width-md);
      }
    }

    @include respond-below(sm) {
      .sub-menu {
        transform: translateX(-$sub-menu-width-xs);
      }
    }
  }

  &.sub-show-temporary,
  &.menu-mobile.sub-show-temporary {
    .sub-menu {
      transform: translateX(0);
    }
  }
}

/* 12.Apps*/
.app-menu {
  z-index: 1;
  @include depth(1);
  width: $app-menu-width;
  height: 100%;
  float: right;
  background: $foreground-color;
  transition: transform $menu-collapse-time;

  position: fixed;
  right: 0;
  top: $navbar-height;

  @include respond-below(xl) {
    top: $navbar-height-lg;
  }

  @include respond-below(lg) {
    top: $navbar-height-md;
    transform: translateX($app-menu-width);
  }

  @include respond-below(sm) {
    top: $navbar-height-xs;
  }

  .scroll {
    .ps__thumb-y {
      right: 0;
    }
  }

  &.shown {
    transform: translateX(0);
  }

  .app-menu-button {
    position: absolute;
    left: -28px;
    background: $foreground-color;
    top: $main-margin - 15;
    padding: 12px 8px 12px 5px;
    border-radius: 0.2rem;
    color: $secondary-color;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.04);
    font-size: 15px;
    line-height: 0;

    @include respond-below(xl) {
      top: $main-margin-lg - 14;
    }

    @include respond-below(lg) {
      top: $main-margin-md - 13;
    }

    @include respond-below(sm) {
      top: $main-margin-xs - 2;
    }
  }

  ul {
    li {
      margin-bottom: 5px;
      a {
        font-size: 13px;
        display: block;
        padding: 3px 0;

        &:hover i {
          color: $theme-color-1;
        }
      }
      i {
        font-size: 1.2em;
        margin-right: 10px;
        color: lighten($primary-color, 30%);
        vertical-align: unset;

        @include respond-below(sm) {
          font-size: 20px;
        }
      }

      &.active i,
      &.active a {
        color: $theme-color-1;
      }
    }
  }
}

.app-row {
  padding-right: $app-menu-width;

  @include respond-below(lg) {
    padding-right: 0;
  }
}

/* 13.Chat App*/
.chat-app {
  .scroll {
    padding-left: 10px;
    margin-left: -10px;
    padding-right: 10px;
    margin-right: -10px;

    height: calc(100vh - #{$navbar-height} - 270px);

    @include respond-below(xl) {
      height: calc(100vh - #{$navbar-height-lg} - 270px);
    }

    @include respond-below(lg) {
      height: calc(100vh - #{$navbar-height-md} - 270px);
    }

    @include respond-below(sm) {
      height: calc(100vh - #{$navbar-height-xs} - 220px);
    }

    .ps__thumb-y {
      right: 10px;
    }
  }

  .list-item-heading {
    @include respond-below(sm) {
      font-size: 0.9rem;
    }
  }

  .card .card-body {
    @include respond-below(sm) {
      padding: .75rem;
    }
  }

  .chat-text-left {
    padding-left: 64px;
  }

  .chat-text-right {
    padding-right: 64px;
  }
}

.chat-input-container {
  width: 100%;
  height: 90px;
  background: $input-background;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  @include depth(1);
  padding-left: $main-menu-width + $main-margin;
  padding-right: $app-menu-width + $main-margin;

  @include respond-below(xl) {
    padding-left: $main-menu-width-lg + $main-margin-lg;
    padding-right: $app-menu-width + $main-margin-lg;
  }

  @include respond-below(lg) {
    padding-left: $main-menu-width-md + $main-margin-md;
    padding-right: $main-margin-md;
  }

  @include respond-below(sm) {
    padding-right: 15px;
    padding-left: 15px;
  }

  input {
    border: initial;
    width: unset;
    height: 90px;
    padding-left: 0;
    display: inline-block;
  }

  .send-button {
    @include respond-below(md) {
      padding-left: 0.7rem;
      padding-right: 0.7rem;
    }
  }
}

/* 14.Survey App*/
.survey-app {
  .answers {
    .badge {
      color: $secondary-color;
    }
    input {
      padding-right: 70px;
    }
  }
  .question {
    &.edit-quesiton {
      .edit-mode {
        display: block;
      }

      .view-mode {
        display: none;
      }

      .view-button {
        display: inline-block;
      }

      .edit-button {
        display: none;
      }
    }

    &.view-quesiton {
      .edit-mode {
        display: none;
      }

      .view-mode {
        display: block;
      }

      .view-button {
        display: none;
      }

      .edit-button {
        display: inline-block;
      }
    }
  }

  .survey-question-types {
    .btn-group-icon {
      font-size: 21px;
      line-height: 28px;
    }

    .btn {
      padding-bottom: 0.3rem;
    }
  }
}

.input-icons {
  position: absolute;
  right: 0;
  top: 9px;
}

/* 15.Todo App*/
.heading-icon {
  color: $theme-color-1;
  font-size: 20px;
    line-height: inherit;
    margin-right: 5px;
    vertical-align: middle;
}

.heading-number {
  border: 1px solid $theme-color-1;
  padding: 4px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 20px;
  width: 34px;
  height: 34px;
  text-align: center;
  color: $theme-color-1;
}

/* 16.Main*/
main {
  margin-left: $sub-menu-width + $main-menu-width + $main-margin;
  margin-top: $navbar-height + $main-margin - 15;
  margin-right: $main-margin;
  margin-bottom: $main-margin - 20;
  transition: margin-left $menu-collapse-time;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  @include respond-below(xl) {
    margin-left: $sub-menu-width-lg + $main-menu-width-lg + $main-margin-lg;
    margin-right: $main-margin-lg;
    margin-top: $main-margin-lg + $navbar-height-lg -10;
    margin-bottom: 30px;
  }

  @include respond-below(lg) {
    margin-left: $sub-menu-width-md + $main-menu-width-md + $main-margin-md;
    margin-right: $main-margin-md;
    margin-top: $main-margin-md + $navbar-height-md -10;
    margin-bottom: 20px;
  }

  @include respond-below(sm) {
    margin-left: $main-margin-xs !important;
    margin-right: $main-margin-xs !important;
    margin-top: $main-margin-xs + $navbar-height-xs !important;
    margin-bottom: 0;
  }

  @include respond-below(xs) {
    margin-bottom: 0;
  }
}

//Menu Config Main
#app-container {
  &.sub-hidden main,
  &.menu-sub-hidden main,
  &.menu-hidden main {
    margin-left: $main-menu-width + $main-margin;
  }
  &.main-hidden main,
  &.menu-hidden main {
    margin-left: $main-margin;
  }

  @include respond-below(xl) {
    &.sub-hidden main,
    &.menu-sub-hidden main,
    &.menu-hidden main {
      margin-left: $main-menu-width-lg + $main-margin-lg;
    }

    &.main-hidden main,
    &.menu-hidden main {
      margin-left: $main-margin-lg;
    }
  }

  @include respond-below(lg) {
    &.sub-hidden main,
    &.menu-sub-hidden main,
    &.menu-hidden main {
      margin-left: $main-menu-width-md + $main-margin-md;
    }

    &.main-hidden main,
    &.menu-hidden main {
      margin-left: $main-margin-md;
    }
  }
}

/* 17.Cards*/
.card {
  border: initial;
  background: $foreground-color;

  .card-header .card-icon {
    right: 5px;
    top: 5px;
    i {
      font-size: 12px;
      color: $separator-color;
    }
  }

  .card-header .handle {
    cursor: default;
  }

  border-radius: calc(0.15rem - 1px);
  @include depth(1);

  .card-body {
    padding: 1.75rem;

    @include respond-below(xs) {
      padding: 1.5rem;
    }

    &.sm {
      padding: 1.25rem 1.75rem;
    }
  }

  .card-title {
    margin-bottom: 2rem;
  }
}

.card-img {
  border-radius: calc(0.25rem - 1px);
  height: 100%;
  object-fit: cover;
  max-height: 200px;
  width: unset;
}

.card-img-bottom {
  width: 100%;
  border-bottom-left-radius: calc(0.15rem - 1px);
  border-bottom-right-radius: calc(0.15rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.15rem - 1px);
  border-top-right-radius: calc(0.15rem - 1px);
}

.card-img-left {
  width: 100%;
  border-top-left-radius: calc(0.15rem - 1px);
  border-bottom-left-radius: calc(0.15rem - 1px);
  height: 100%;
  object-fit: cover;
}

.card-img-right {
  width: 100%;
  border-top-right-radius: calc(0.15rem - 1px);
  border-bottom-right-radius: calc(0.15rem - 1px);
  height: 100%;
  object-fit: cover;
}

.card-img-overlay {
  background: rgba(#000000, 0.5);
  padding: 1.75rem;

  @include respond-below(xs) {
    padding: 1rem;
  }
}

.card-top-buttons {
  padding: 1.3rem;
  right: 0;
  top: 0;

  @include respond-below(xs) {
    padding: 0.35rem;
  }
}

.card-header {
  border: initial;
  background: initial;
  padding-top: 0;
}

/* 18.Dashboard*/

.dashboard-line-chart {
  height: 283px;
}

.dashboard-quick-post {
  min-height: 283px;
}

.dashboard-list-with-thumbs {
  height: 500px;
}

.dashboard-logs {
  height: 270px;
}

.dashboard-list-with-user {
  height: 270px;
}

.dashboard-donut-chart {
  height: 270px;
}

.dashboard-small-chart {
  height: 150px;

  .chart {
    height: 60px;
  }

  .lead {
    font-size: 1.4rem;
  }
}

.dashboard-small-chart-analytics {
  height: 180px;

  .chart {
    height: 80px;
  }

  .lead {
    font-size: 1.4rem;
  }
}

.dashboard-filled-line-chart {
  height: 340px;
  .chart {
    height: 200px;
  }
}

.dashboard-numbers .owl-nav,
.dashboard-numbers .owl-dots {
  display: none;
}

.dashboard-sq-banner {
  background-image: linear-gradient(
    to right top,
    $gradient-color-2,
    $gradient-color-3,
    $gradient-color-1
  );
  background-size: cover;
  height: 385px;
  transition: 0.5s;
  background-size: 350% auto;
  cursor: pointer;
  .card-body {
    width: 270px;
  }
  .lead {
    line-height: 2.3rem;
  }
  &:hover {
    background-position: right top;
  }
}
.dashboard-link-list {
  height: 385px;
}
.dashboard-progress {
  height: 385px;
}
.dashboard-top-rated {
  height: 300px;
}
.dashboard-search {
  height: 650px;
  background: url("../img/plane.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $foreground-color;
  .card-body {
    padding: 120px 50px 30px 50px;
    @include respond-below(xl) {
      padding: 80px 30px 30px 30px;
    }
  }
  .form-container {
    height: 400px;
    border-radius: $border-radius;
    box-shadow: 0px -10px 15px 0px rgba(0, 0, 0, 0.04);
    padding: 2rem;
    background-color: $foreground-color;
  }
}
.icon-cards-row {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -10px;
  .owl-stage {
    padding-top: 10px;
  }
  [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }
  .card-body {
    padding: 2rem 0.5rem;
  }
  .card-text {
    color: $secondary-color;
    height: 30px;
    line-height: 26px;
  }
  .lead {
    color: $theme-color-1;
    margin-bottom: 0;
  }
  i {
    font-size: 46px;
    line-height: 66px;
    color: $theme-color-1;
  }
  .card {
    transition: box-shadow $animation-time-long;
    cursor: pointer;
  }
  @include respond-below(xl) {
    .card-text {
      height: 48px;
      line-height: 18px;
    }
    .lead {
      font-size: 1.6rem;
    }
    i {
      font-size: 32px;
      line-height: 47px;
    }
  }
}
.log-indicator {
  width: 13px;
  height: 13px;
  border: 2px solid $theme-color-1;
  border-radius: 14px;
  display: inline-block;
}
/* 19.Calendar */
.calendar {
  .alert-info {
    color: $theme-color-1;
    background-color: initial;
  }
  h2 {
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
  }
}
.fc-basic-view .fc-body .fc-row {
  min-height: 6em;
  @include respond-below(xs) {
    min-height: 3em;
  }
}
.fc-toolbar.fc-header-toolbar .btn-group .fc-next-button,
.fc-toolbar.fc-header-toolbar .btn-group .fc-prev-button {
  outline: initial !important;
  box-shadow: initial !important;
  border-radius: 40px !important;
  text-align: center;
  min-width: 30px;
  height: 30px;
  padding: 0.55rem 0;
  background: $theme-color-1;
  color: white;
  border: 1px solid $theme-color-1;
  line-height: 0.9 !important;
  font-size: 0.76rem;
  font-weight: normal !important;
  span {
    line-height: 0.9 !important;
    font-size: 0.76rem;
    font-weight: normal !important;
  }
  &:hover {
    background-color: transparent;
    border-color: lighten($theme-color-1, 10%);
    color: $theme-color-1;
  }
}
.fc-toolbar.fc-header-toolbar .fc-prev-button {
  margin-right: 5px;
}
.fc-today-button {
  padding: 0.4em 1.3em !important;
  height: unset !important;
}
.fc-bootstrap4 .fc-day-top .fc-day-number {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}
.fc-bootstrap4 td.fc-today {
  background: initial;
  .fc-day-number {
    background: $theme-color-1;
    color: white;
  }
}
.fc-day-grid-container {
  height: 100%;
  overflow: visible;
}
.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
  padding: 5px;
}
.fc-view,
.fc-view > table {
  border-top: initial;
}
.fc table {
  border: initial;
}
.fc .table-bordered thead th,
.fc .table-bordered thead td {
  border-top: initial;
  border-bottom: initial;
  border-left: initial;
}
.fc td:first-of-type,
.fc th:first-of-type {
  border-left: initial;
  border-bottom: initial;
}
.fc td:last-of-type,
.fc th:last-of-type {
  border-right: initial;
  border-bottom: initial;
}
.fc-body .fc-row:last-of-type td {
  border-bottom: initial;
}
.fc tbody > tr > td.fc-widget-content:first-of-type {
  border-left: initial;
  border-right: initial;
  border-bottom: initial;
}
.fc table,
.fc .table-bordered th,
.fc .table-bordered td {
  border-color: $separator-color-light !important;
}
.fc-day-header {
  color: $theme-color-1;
  span {
    padding: 10px;
    display: inline-block;
  }
}
.fc-event {
  border: initial;
}
.fc-event,
.fc-event-dot {
  background-color: $theme-color-2;
  color: white !important;
  padding: 1px 6px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
/* 20.Datatable */
.dataTables_wrapper {
  overflow: hidden;
}
table.dataTable td {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $separator-color-light;
  outline: initial !important;
}
table.dataTable tr:last-of-type td {
  border-bottom: initial;
}
table.dataTable {
  width: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
table p,
table h6 {
  margin-bottom: initial;
}
table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-top: 10px;
  padding-bottom: 10px;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  right: 1.5em;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 2em;
}
.dataTables_wrapper .paginate_button.previous {
  margin-right: 15px;
}
.dataTables_wrapper .paginate_button.next {
  margin-left: 15px;
}
div.dataTables_wrapper div.dataTables_paginate {
  margin-top: 25px;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  justify-content: center;
}
.dataTables_wrapper .paginate_button.page-item {
  padding-left: 10px;
  padding-right: 10px;
}
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > td:first-child:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > th:first-child:before {
  top: unset;
  box-shadow: initial;
  background-color: $theme-color-1;
  font-size: 12px;
}
/* 21.Alerts */
.alert {
  border-radius: 0;
}
.alert-primary {
  color: $theme-color-1;
  background-color: lighten($theme-color-1, 50%);
  border-color: lighten($theme-color-1, 50%);
}
.alert-secondary {
  color: $theme-color-2;
  background-color: lighten($theme-color-2, 40%);
  border-color: lighten($theme-color-2, 40%);
}
.alert *[data-notify="title"] {
  display: block;
  font-size: 0.9rem;
}
div[data-notify="container"] {
  padding: 18px;
}
/* 22.Forms */
.form-check-label,
.custom-control-label {
  line-height: 24px;
}
.form-control,
.bootstrap-tagsinput {
  border-radius: $border-radius;
  outline: initial !important;
  box-shadow: initial !important;
  font-size: 0.8rem;
  padding: 0.75rem 0.75rem 0.5rem 0.75rem;
  line-height: 1.5;
  border: 1px solid $separator-color;
  background: $input-background;
  color: $primary-color;
}
.bootstrap-tagsinput input {
  color: $primary-color;
}
.has-float-label label::after,
.has-float-label > span::after {
  background: $input-background;
}
.form-control:focus {
  background: $input-background;
  color: $primary-color;
}
.bootstrap-tagsinput {
  width: 100%;
}
.bootstrap-tagsinput input {
  padding: 0;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: initial;
}
.bootstrap-tagsinput .tag {
  background: $theme-color-1;
  border-radius: 15px;
  padding: 0px 10px;
  margin-bottom: 0px;
  display: inline-block;
  font-size: 12px;
}
.form-control:focus,
.bootstrap-tagsinput.focus {
  border-color: lighten($theme-color-1, 30%);
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.4rem + 3px);
}
.custom-control-label,
.custom-control-input {
  outline: initial !important;
  box-shadow: initial !important;
}
.custom-control-input {
  left: 1px;
  top: 3px;
  opacity: 0;
  z-index: 1;
}
.custom-control-label::before {
  border: 1px solid $muted-color;
  background: initial;
}
.custom-checkbox
  .custom-control-input:indeterminate
  ~ .custom-control-label::before {
  background-color: $theme-color-1;
}
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $theme-color-1;
  box-shadow: initial !important;
  border: 1px solid $theme-color-1;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $theme-color-1;
  box-shadow: initial !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $theme-color-1;
  box-shadow: initial !important;
}
.custom-control-label::after,
.custom-control-label::before {
  box-shadow: initial !important;
}
.custom-control-label::before {
  top: 0.25rem;
}
.custom-control-label::after {
  top: 0.25rem;
}
.btn.rotate-icon-click i {
  transition: transform 0.5s;
}
.btn.rotate i {
  transform: rotate(180deg);
}
.btn .custom-control-label::before {
  border: 1px solid white;
}
.btn .custom-control-input:checked ~ .custom-control-label::before {
  border: 1px solid white;
}
.btn-group-icon {
  line-height: 22px;
}
.valid-tooltip,
.invalid-tooltip {
  border-radius: 15px;
  padding: 0.5rem 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.76rem;
}
.valid-tooltip {
  background-color: rgba(40, 167, 69, 1);
  margin-top: -0.2rem;
}
.invalid-tooltip {
  background-color: rgba(220, 53, 69, 1);
  margin-top: -0.2rem;
}
.valid-tooltip:after {
  content: "";
  position: absolute;
  top: -5px;
  left: -2.5px;
  margin-left: 50%;
  width: 10px;
  height: 5px;
  border-bottom: solid 5px rgba(40, 167, 69, 1);
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}
.invalid-tooltip:after {
  content: "";
  position: absolute;
  top: -5px;
  left: -2.5px;
  margin-left: 50%;
  width: 10px;
  height: 5px;
  border-bottom: solid 5px rgba(220, 53, 69, 1);
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}
.valid-icon {
  position: absolute;
  bottom: 8px;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.5rem;
  margin-top: 0;
  font-size: 0.76rem;
  line-height: 1;
  color: #fff;
  border-radius: 0.2rem;
  right: 4px;
  color: rgba(40, 167, 69, 1);
}
.invalid-icon {
  position: absolute;
  bottom: 2px;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.5rem;
  margin-top: 0;
  font-size: 0.875rem;
  line-height: 1;
  color: #fff;
  border-radius: 0.2rem;
  right: 4px;
  color: rgba(220, 53, 69, 1);
}
.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-icon,
.form-control.is-invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-icon,
.was-validated .custom-select:invalid ~ .invalid-feedback,
.was-validated .custom-select:invalid ~ .invalid-icon,
.custom-select.is-invalid ~ .invalid-feedback,
.custom-select.is-invalid ~ .invalid-icon {
  display: block;
}
.was-validated .form-control:valid ~ .valid-feedback,
.was-validated .form-control:valid ~ .valid-icon,
.form-control.is-valid ~ .valid-feedback,
.form-control.is-valid ~ .valid-icon,
.was-validated .custom-select:valid ~ .valid-feedback,
.was-validated .custom-select:valid ~ .valid-icon,
.custom-select.is-valid ~ .valid-feedback,
.custom-select.is-valid ~ .valid-icon {
  display: block;
}
.select2-container--bootstrap .select2-selection--single {
  padding: 0.65rem 0.75rem 0.5rem 0.75rem;
  height: calc(2.4rem + 3px);
  border-radius: $border-radius !important;
}
.select2-dropdown,
.select2-container--bootstrap .select2-selection.form-control {
  background: $input-background;
}
.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  background: $input-background;
  color: $primary-color;
}
.select2-container--bootstrap .select2-results__option[aria-selected="true"] {
  background: $input-background;
  color: $primary-color;
}
.select2-container--bootstrap
  .select2-selection--single
  .select2-selection__rendered {
  color: $primary-color;
}
.input-group-text {
  background-color: lighten($input-background, 5%);
  border-color: $separator-color;
  color: $primary-color;
  font-size: 0.8rem;
  padding: 0.75rem 0.75rem 0.5rem 0.75rem;
}
.select2-container--bootstrap .select2-selection {
  border: 1px solid $separator-color;
}
.select2-container {
  width: 100% !important;
}
.select2-container--bootstrap
  .select2-selection--multiple
  .select2-search--inline
  .select2-search__field {
  height: calc(2.4rem + 1px);
}
.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
  border-color: lighten($theme-color-1, 30%);
}
.select2-container--bootstrap .select2-dropdown {
  border-color: lighten($theme-color-1, 30%);
}
.select2-container--bootstrap
  .select2-results__option--highlighted[aria-selected] {
  background-color: $theme-color-1;
  color: #fff;
}
.select2-dropdown,
.select2-container--bootstrap .select2-selection.form-control {
  border-radius: $border-radius !important;
}
.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  border-radius: $border-radius !important;
}
.select2-container--bootstrap
  .select2-selection--multiple
  .select2-selection__choice {
  border-radius: $border-radius;
  margin: 9px 0 0 8px;
}
.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  border: 1px solid $secondary-color;
  outline: initial;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  padding-right: 10px;
}
.datepicker-dropdown:before {
  border-bottom-color: rgba($primary-color, 0.2);
}
.datepicker-dropdown.datepicker-orient-top:before {
  border-top: 7px solid rgba($primary-color, 0.2);
}
.datepicker table tr td,
.datepicker table tr th {
  color: $primary-color;
}
.datepicker-dropdown.datepicker-orient-top:after {
  border-top-color: $input-background;
}
.datepicker-dropdown.datepicker-orient-bottom:after {
  border-bottom-color: $input-background;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
  background: $separator-color;
}
.datepicker table tr td,
.datepicker table tr th {
  width: 35px;
  height: 35px;
  border-radius: $border-radius;
}
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active:active {
  color: #fff;
  background-color: $theme-color-1;
  border-color: $theme-color-1;
}
.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active.focus,
.datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active.highlighted:active.focus,
.datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active:active.focus,
.datepicker table tr td.active:active:focus,
.datepicker table tr td.active:active:hover {
  color: #fff;
  background-color: darken($theme-color-1, 10%);
  border-color: darken($theme-color-1, 10%);
}
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover:active {
  background-color: darken($theme-color-1, 10%);
  border-color: darken($theme-color-1, 10%);
}
.datepicker.datepicker-inline,
.datepicker.datepicker-inline table {
  width: 100%;
}
.datepicker table tr td span.focused,
.datepicker table tr td span:hover {
  background: $separator-color;
}
.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
  background: $separator-color;
}
.dropzone {
  min-height: 115px;
  border: 1px solid $separator-color;
  background: $input-background;
  padding: 10px 10px;
  border-radius: $border-radius;
  color: $primary-color;
  height: 115px;
}
.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message * {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  margin: 0;
}
.dropzone .dz-preview.dz-image-preview {
  width: 260px;
  height: unset;
  min-height: unset;
  border: 1px solid $separator-color;
  border-radius: $border-radius;
  background: $foreground-color;
  color: $primary-color;
  strong {
    font-weight: normal;
  }
  .remove {
    position: absolute;
    right: 5px;
    top: 5px;
    color: $theme-color-1;
  }
  .dz-details {
    position: static;
    display: block;
    opacity: 1;
    text-align: left;
    min-width: unset;
    z-index: initial;
    color: $primary-color;
  }
  .dz-error-mark {
    color: white;
    transform: translateX(-50%) translateY(-50%) !important;
    transition: initial !important;
    animation: initial !important;
    margin-left: 0;
    margin-top: 0;
    i {
      font-size: 26px;
    }
  }
  .dz-progress {
    width: 90%;
    margin-left: 0;
    margin-top: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    height: 5px;
    .dz-upload {
      width: 100%;
      background: $theme-color-1;
    }
  }
  .dz-error-message {
    border-radius: 15px;
    background: #dc3545;
    top: 60px;
    &:after {
      border-bottom: 6px solid #dc3545;
    }
  }
  [data-dz-name] {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    display: inline-block;
    overflow: hidden;
  }
}
.custom-switch .custom-switch-input + .custom-switch-btn {
  background: $separator-color;
}
.custom-switch.custom-switch-primary
  .custom-switch-input:checked
  + .custom-switch-btn {
  background: $theme-color-1;
  border: 1px solid $theme-color-1;
}
.custom-switch.custom-switch-secondary
  .custom-switch-input:checked
  + .custom-switch-btn {
  background: $theme-color-2;
  border: 1px solid $theme-color-2;
}
.custom-switch.custom-switch-primary-inverse
  .custom-switch-input
  + .custom-switch-btn {
  border: 1px solid $separator-color;
}
.custom-switch.custom-switch-primary-inverse
  .custom-switch-input:checked
  + .custom-switch-btn {
  background: $input-background;
  border: 1px solid $theme-color-1;
}
.custom-switch.custom-switch-primary-inverse
  .custom-switch-input:checked
  + .custom-switch-btn:after {
  background: $theme-color-1;
}
.custom-switch.custom-switch-secondary-inverse
  .custom-switch-input
  + .custom-switch-btn {
  border: 1px solid $separator-color;
}
.custom-switch.custom-switch-secondary-inverse
  .custom-switch-input:checked
  + .custom-switch-btn {
  background: $input-background;
  border: 1px solid $theme-color-2;
}
.custom-switch.custom-switch-secondary-inverse
  .custom-switch-input:checked
  + .custom-switch-btn:after {
  background: $theme-color-2;
}
.input-group-text {
  border-radius: $border-radius;
}
.custom-switch .custom-switch-input + .custom-switch-btn:after {
  background: $input-background;
}
.custom-switch .custom-switch-input + .custom-switch-btn {
  border-color: $separator-color;
}
.noUi-target {
  background: $input-background;
  border-color: $separator-color;
  box-shadow: initial;
}
.noUi-tooltip {
  background: $input-background;
  color: $primary-color;
  border-color: $separator-color;
}
.form-control-sm,
.input-group-sm > .form-control,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn {
  border-radius: $border-radius;
}
.form-control-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn {
  border-radius: $border-radius;
}
.custom-select {
  border-radius: $border-radius;
  padding: 0.75rem 0.75rem 0.5rem 0.75rem;
}
.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
  outline: initial !important;
  box-shadow: initial !important;
}
.custom-select {
  height: calc(2.5rem + 2px);
}
.custom-select:focus {
  border-color: $theme-color-1;
}
.custom-file-input {
  box-shadow: initial !important;
}
.custom-file-label {
  box-shadow: initial !important;
  border-radius: $border-radius;
  height: calc(2.5rem + 2px);
  padding: 0.75rem 0.75rem 0.5rem 0.75rem;
}
.custom-file {
  height: calc(2.5rem + 2px);
}
.custom-file-label:focus,
.custom-file-input:focus {
  border-color: $theme-color-1;
}
.custom-file-label::after {
  height: calc(calc(2.5rem + 2px) - 1px * 2);
  padding: 0.75rem 0.75rem 0.5rem 0.75rem;
}
.jumbotron {
  background: initial;
}
.has-top-label label,
.has-top-label > span,
.has-float-label label,
.has-float-label > span {
  color: lighten($primary-color, 30%);
}
/* 23.Slider(Range) */
.noUi-connect {
  background: $theme-color-1;
}
.noUi-connects {
  border-radius: $border-radius;
}
.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: none;
}
.noUi-handle {
  outline: initial;
  box-shadow: initial !important;
}
.noUi-horizontal {
  height: 8px;
}
.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -7px;
}
.noUi-horizontal .noUi-tooltip {
  top: 120%;
  bottom: unset;
  padding-left: 10px;
  padding-right: 10px;
}
/* 24.Navs */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: $theme-color-1;
}
.nav-pills .nav-link {
  border-radius: 50px;
}
.nav-link {
  @include respond-below(sm) {
    padding: 0.5rem 0.5rem;
  }
  &.active {
    color: $theme-color-1;
  }
}
.page-item {
  padding: 10px;
  @include respond-below(sm) {
    padding: 3px;
  }
  .page-link {
    outline: initial !important;
    box-shadow: initial !important;
    line-height: 1.7;
    border-radius: 40px !important;
    min-width: 38px;
    text-align: center;
    height: 38px;
    padding: 0.55rem 0;
    @include respond-below(xs) {
      min-width: 30px;
      height: 30px;
      line-height: 0.9;
      font-size: 0.76rem;
    }
    &.next {
      background: $theme-color-1;
      color: $foreground-color;
      border: 1px solid $theme-color-1;
    }
    &.prev,
    &.prev {
      background: $theme-color-1;
      border: 1px solid $theme-color-1;
      color: $foreground-color;
    }
    &.first,
    &.last {
      background: transparent;
      color: $theme-color-1;
      border: 1px solid $theme-color-1;
      border-radius: 30px;
      &:hover {
        background: $theme-color-1;
        color: $foreground-color;
        border: 1px solid $theme-color-1;
      }
    }
    &:hover {
      background-color: transparent;
      border-color: lighten($theme-color-1, 10%);
      color: $theme-color-1;
    }
  }
  &.active .page-link {
    background: transparent;
    border: 1px solid $theme-color-1;
    color: $theme-color-1;
  }
  &.disabled .page-link {
    border-color: $separator-color;
    color: $separator-color;
    background: transparent;
  }
}
.page-link {
  background-color: transparent;
  border-color: transparent;
  color: $primary-color;
}
.btn-sm.page-link {
  padding: 0.5rem 0.5rem;
}
.pagination-lg {
  .page-item {
    padding: 15px;
    @include respond-below(sm) {
      padding: 3px;
    }
    .page-link {
      min-width: 50px;
      height: 50px;
      @include respond-below(sm) {
        min-width: 38px;
        height: 38px;
        padding: 0.55rem 0;
        line-height: 1.5;
        font-size: 0.8rem;
      }
      @include respond-below(xs) {
        min-width: 30px;
        height: 30px;
        line-height: 0.9;
        font-size: 0.76rem;
      }
    }
  }
}
.pagination-sm {
  .page-item {
    padding: 6px;
    @include respond-below(sm) {
      padding: 3px;
    }
    .page-link {
      min-width: 30px;
      height: 30px;
      line-height: 0.9;
      font-size: 0.76rem;
    }
  }
}
/* 25. Tooltip and popover */
.popover {
  border-radius: $border-radius;
}
.popover-header {
  background-color: transparent;
  border-bottom: initial;
}
.tooltip-inner {
  padding: 0.5rem 0.75rem;
  color: $primary-color;
  background-color: white;
  border-radius: 0.1rem;
  border: 1px solid $separator-color;
}
.tooltip.show {
  opacity: 1;
}
.tooltip .arrow::before,
.tooltip .arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}
.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.bs-tooltip-right .arrow::after,
.bs-tooltip-auto[x-placement^="right"] .arrow::after {
  border-width: 0.5rem 0.5rem 0.5rem 0;
}
.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before {
  left: 0;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.bs-tooltip-right .arrow::after,
.bs-tooltip-auto[x-placement^="right"] .arrow::after {
  left: 1px;
  border-right-color: #fff;
}
.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.bs-tooltip-right .arrow::after,
.bs-tooltip-auto[x-placement^="right"] .arrow::after {
  border-width: 0.4rem 0.4rem 0.4rem 0;
}
.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.25);
}
.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::after,
.bs-tooltip-auto[x-placement^="top"] .arrow::after {
  border-width: 0.5rem 0.5rem 0;
}
.bs-tooltip-top .arrow::after,
.bs-tooltip-auto[x-placement^="top"] .arrow::after {
  bottom: 1px;
  border-top-color: #fff;
}
.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::after,
.bs-tooltip-auto[x-placement^="top"] .arrow::after {
  border-width: 0.4rem 0.4rem 0;
}
.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::after,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::after {
  border-width: 0 0.5rem 0.5rem 0.5rem;
}
.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}
.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::after,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::after {
  border-width: 0 0.5rem 0.5rem 0.5rem;
}
.bs-tooltip-bottom .arrow::after,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::after {
  top: 1px;
  border-bottom-color: #fff;
}
.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^="left"] .arrow::before,
.bs-tooltip-left .arrow::after,
.bs-tooltip-auto[x-placement^="left"] .arrow::after {
  border-width: 0.5rem 0 0.5rem 0.5rem;
}
.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^="left"] .arrow::before {
  right: 0;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^="left"] .arrow::before,
.bs-tooltip-left .arrow::after,
.bs-tooltip-auto[x-placement^="left"] .arrow::after {
  border-width: 0.5rem 0 0.5rem 0.5rem;
}
.bs-tooltip-left .arrow::after,
.bs-tooltip-auto[x-placement^="left"] .arrow::after {
  right: 0;
  border-left-color: #fff;
}
.search-sm {
  position: relative;
  input {
    background: none;
    outline: initial !important;
    border: 1px solid $secondary-color;
    border-radius: 15px;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    font-size: 0.76rem;
    line-height: 1.3;
  }
  &:after {
    font-family: "simple-line-icons";
    content: "\E090";
    font-size: 14px;
    color: $secondary-color;
    position: absolute;
    right: 10px;
    text-align: center;
    cursor: pointer;
    top: 2px;
  }
}
/* 26.Progress */
.progress {
  height: 3px;
}

.progress-bar {
  background-color: $theme-color-1;
}
.progressbar-text {
  position: absolute;
  left: 0;
  width: 50px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: $primary-color !important;
}
.progress-bar-circle {
  width: 54px;
  height: 54px;
  svg path:first-of-type {
    stroke: $separator-color;
  }
  svg path:last-of-type {
    stroke: $theme-color-1;
  }
  &.progress-bar-banner {
    svg path:first-of-type {
      stroke: darken($theme-color-1, 13%);
    }
    svg path:last-of-type {
      stroke: white;
    }
  }
}
.progress-banner {
  height: 200px;
  background-image: linear-gradient(
    to right top,
    $gradient-color-2,
    $gradient-color-3,
    $gradient-color-1
  );
  transition: 0.5s;
  background-size: 200% auto;
  cursor: pointer;
  .lead {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    @include respond-below(lg) {
      font-size: 1.2rem;
      margin-bottom: 0.2rem;
    }
  }
  i {
    font-size: 2.7rem;
    margin-bottom: 1rem;
    @include respond-below(lg) {
      font-size: 2rem;
      margin-bottom: 0.2rem;
    }
  }
  .progress-bar-circle.progress-bar-banner {
    width: 120px;
    height: 120px;
    @include respond-below(lg) {
      width: 80px;
      height: 80px;
    }
  }
  .progress-bar-banner {
    .progressbar-text {
      color: white !important;
      font-size: 1.7rem;
      width: 110px;
      font-weight: 300;
      @include respond-below(lg) {
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
      }
    }
  }
  &:hover {
    background-position: right top;
  }
}
/* 27.Rating */
.br-theme-bootstrap-stars .br-widget a.br-active:after {
  color: $theme-color-1;
  font-weight: 900;
}
.br-theme-bootstrap-stars .br-widget a.br-selected:after {
  color: $theme-color-1;
  font-weight: 900;
}
/* 28.Sortable */
.sortable {
  cursor: default;
}
.sortable span {
  vertical-align: middle;
}
.sortable-ghost {
  opacity: 0.5;
}
/* 29.Spinner */
.spinner {
  width: 36px;
  text-align: center;
}
.spinner > div {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
  animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* 30.Croppper */
.cropper-line {
  background-color: $theme-color-1;
}
.cropper-point {
  background-color: $theme-color-1;
}
.cropper-view-box {
  outline-color: $theme-color-1;
  outline: $theme-color-1;
}
.cropper-preview {
  overflow: hidden;
}
#cropperContainer {
  height: 300px;
  display: none;
}
/* 31.Modal */
.modal {
  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 1.75rem;
  }
  .modal-header {
    border-bottom: 1px solid $separator-color;
  }
  .modal-footer {
    border-top: 1px solid $separator-color;
  }
  .close {
    color: $primary-color;
    text-shadow: initial;
  }
  .modal-content {
    border: initial;
    border-radius: 0.1rem;
    background: $foreground-color;
  }
}
.modal-right {
  padding-right: 0 !important;
  .modal-dialog {
    margin: 0 auto;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    max-width: 380px;
  }
  .modal-content {
    min-height: 100%;
  }
  .modal-header {
    height: $navbar-height;
    @include respond-below(xl) {
      height: $navbar-height-lg;
    }
    @include respond-below(lg) {
      height: $navbar-height-md;
    }
    @include respond-below(sm) {
      height: $navbar-height-xs;
    }
  }
  .modal-footer {
    justify-content: center;
  }
  &.modal.fade .modal-dialog {
    transform: translate(25%, 0);
  }
  &.modal.show .modal-dialog {
    transform: translate(0, 0);
  }
}
.modal-left {
  .modal-dialog {
    margin: 0 auto;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    max-width: 380px;
  }
  .modal-content {
    min-height: 100%;
  }
  .modal-header {
    height: $navbar-height;
  }
  .modal-footer {
    justify-content: center;
  }
  &.modal.fade .modal-dialog {
    transform: translate(-25%, 0);
  }
  &.modal.show .modal-dialog {
    transform: translate(0, 0);
  }
}
/* 32.Authorization */
.auth-card {
  display: flex;
  flex-direction: row;
  @include depth(1);
  .image-side {
    width: 40%;
    background: url("../img/login-balloon.jpg") no-repeat center top;
    background-size: cover;
    padding: 80px 40px;
    .h3 {
      line-height: 0.8rem;
    }
  }
  .form-side {
    width: 60%;
    padding: 80px;
  }
  @include respond-below(md) {
    flex-direction: column;
    .image-side {
      width: 100%;
      padding: 60px;
    }
    .form-side {
      width: 100%;
      padding: 60px;
    }
  }
  @include respond-below(sm) {
    p.h2 {
      font-size: 1.6rem;
    }
  }
  @include respond-below(xs) {
    flex-direction: column;
    .image-side {
      padding: 35px 30px;
    }
    .form-side {
      padding: 35px 30px;
    }
    .logo-single {
      margin-bottom: 20px;
    }
    p.h2 {
      font-size: 1.4rem;
    }
  }
}
/* 33.Html Editors */
.html-editor {
  height: 350px;
}
.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: $theme-color-1;
}
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: $theme-color-1;
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-mitter,
.ql-snow .ql-toolbar button:hover .ql-stroke-mitter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-mitter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-mitter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-mitter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-mitter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-mitter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-mitter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-mitter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-mitter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-mitter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-mitter {
  stroke: $theme-color-1;
}
.html-editor-bubble {
  height: 200px;
}
.html-editor-bubble .ql-editor {
  border: 1px solid $separator-color;
}
.ql-tooltip {
  z-index: 4;
}
.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  height: 350px;
}
.ck.ck-content.ck-editor__editable.ck-rounded-corners {
  box-shadow: initial !important;
}
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-focused {
  border-color: $separator-color;
}
.ck.ck-toolbar {
  background: white !important;
}
/* 34.Icons */
.simple-line-icons .glyph,
.mind-icons .glyph {
  width: 14.28%;
  text-align: center;
  float: left;
  height: 100px;
  .glyph-icon,
  .fa {
    font-size: 32px;
  }
  .author-name {
    display: none;
  }
  .class-name {
    font-size: 0.76rem;
    color: $muted-color !important;
  }
  @include respond-below(lg) {
    width: 16.66%;
  }
  @include respond-below(md) {
    width: 20%;
  }
  @include respond-below(sm) {
    width: 25%;
  }
  @include respond-below(xs) {
    width: 50%;
  }
}
.chart-container {
  height: 300px;
}
.theme-colors {
  width: 280px;
  position: fixed;
  z-index: 1030;
  top: 50%;
  right: 0;
  background: $foreground-color;
  @include depth(1);
  transform: translate(280px, -50%);
  transition: transform 0.4s ease-out;
  padding-top: 10px;
  padding-bottom: 10px;
  .theme-button {
    position: absolute;
    left: -34px;
    background: $foreground-color;
    padding: 13px 7px 13px 7px;
    border-radius: 0.2rem;
    color: $primary-color;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.04);
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: $theme-color-1;
  }
  .theme-color {
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 20px;
    transition: background 0.25s;
    &.active,
    &:hover {
      background: $foreground-color;
    }
  }
  .theme-color-purple {
    border: 3px solid $theme-color-purple;
    background: $theme-color-purple;
  }
  .theme-color-blue {
    border: 3px solid $theme-color-blue;
    background: $theme-color-blue;
  }
  .theme-color-orange {
    border: 3px solid $theme-color-orange;
    background: $theme-color-orange;
  }
  .theme-color-green {
    border: 3px solid $theme-color-green;
    background: $theme-color-green;
  }
  .theme-color-red {
    border: 3px solid $theme-color-red;
    background: $theme-color-red;
  }
  &.shown {
    transform: translate(0, -50%);
  }
}
/* 35.Loading */
.loading {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba($theme-color-1, 0.2);
  border-radius: 50%;
  border-top-color: $theme-color-1;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50%);
  top: calc(50%);
  position: fixed;
  z-index: 1;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
