$separator-color-light: #212121;
$separator-color: #424242;
$background-color: #131113;
$foreground-color: #252225;
$input-background: #252225;

$theme-color-1: #e2863b;
$theme-color-2: #ff9c37;
$theme-color-3: #d6a779;
$theme-color-4: #dba070;
$theme-color-5: #f6c797;
$theme-color-6: #d6cdca;

$primary-color: #bcbcbc;
$secondary-color: #b2b2b2;
$muted-color: #a0a0a0;

$gradient-color-1: #ff9c37;
$gradient-color-2: #d15f12;
$gradient-color-3: #f9a550;

$shadowOffsetsTop: 1 3 10 14 19;
$shadowBlursTop: 2 6 10 14 19;
$shadowOpacitiesTop: 0.1 0.3 0.6 0.7 0.8;

$shadowOffsetsBottom: 1 3 6 10 15;
$shadowBlursBottom: 3 6 6 5 6;
$shadowOpacitiesBottom: 0.1 0.3 0.6 0.7 0.8;

$backgroundPath: "../img/logo-white.svg";
$backgroundPathMobile: "../img/logo-mobile.svg";

@import "../_mixins.scss";
@import "../_dore.style.scss";
