$separator-color-light: #212121;
$separator-color: #424242;
$background-color: #131113;
$foreground-color: #252225;
$input-background: #252225;

$theme-color-1: #922c88;
$theme-color-2: #4556ac;
$theme-color-3: #af67a4;
$theme-color-4: #743c6e;
$theme-color-5: #4b5480;
$theme-color-6: #795d75;

$primary-color: #bcbcbc;
$secondary-color: #b2b2b2;
$muted-color: #a0a0a0;

$gradient-color-1: #a9449f;
$gradient-color-2: #3c164f;
$gradient-color-3: #8a3481;

$shadowOffsetsTop: 1 3 10 14 19;
$shadowBlursTop: 2 6 10 14 19;
$shadowOpacitiesTop: 0.1 0.3 0.6 0.7 0.8;

$shadowOffsetsBottom: 1 3 6 10 15;
$shadowBlursBottom: 3 6 6 5 6;
$shadowOpacitiesBottom: 0.1 0.3 0.6 0.7 0.8;

$backgroundPath: "../img/logo-white.svg";
$backgroundPathMobile: "../img/logo-mobile.svg";

@import "../_mixins.scss";
@import "../_dore.style.scss";
