/* Dore Main Style 

Table of Contents

00.Variables and Imports
01.Base
02.Buttons
03.Widths
04.Borders
05.Badges
06.Breadcrumb
07.Tabs
08.Owl Carousel
09.Slick Slider
10.Navbar
11.Menu
12.Apps
13.Chat App
14.Survey App
15.Todo App
16.Main
17.Cards
18.Dashboard
19.Calendar
20.Datatable
21.Alerts
22.Forms
23.Slider(Range)
24.Navs
25.Tooltip and popover
26.Progress
27.Rating
28.Sortable
29.Spinner
30.Croppper
31.Modal
32.Authorization
33.Html Editors
34.Icons
35.Loading
*/
/* 00.Variables and Imports */
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700");
/* 01.Base */
html {
  width: 100%;
  height: 100%;
  background: #131113; }

:root {
  --theme-color-1: #880a1f;
  --theme-color-2: #e7284a;
  --theme-color-3: #fd5d3d;
  --theme-color-4: #843a47;
  --theme-color-5: #d8667a;
  --theme-color-6: #f69682;
  --theme-color-1-10: rgba(136, 10, 31, 0.1);
  --theme-color-2-10: rgba(231, 40, 74, 0.1);
  --theme-color-3-10: rgba(253, 93, 61, 0.1);
  --theme-color-4-10: rgba(132, 58, 71, 0.1);
  --theme-color-5-10: rgba(216, 102, 122, 0.1);
  --theme-color-6-10: rgba(246, 150, 130, 0.1); }

body {
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #bcbcbc;
  background: #131113; }
  body.background {
    height: 100%; }
    body.background main {
      margin: 0 !important;
      height: 100%; }
      body.background main .container {
        height: 100%; }

.fixed-background {
  background: url("../img/balloon.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#displayOptions a {
  cursor: pointer; }

#displayOptions a.active i {
  color: #880a1f; }

.scroll {
  margin-right: -15px;
  padding-right: 15px;
  position: relative; }

.dropdown-menu {
  font-size: 0.8rem;
  border-radius: 0.1rem;
  background: #252225;
  border-color: rgba(188, 188, 188, 0.15); }

.dropdown-item {
  padding: 0.75rem 1.5rem;
  color: #bcbcbc; }

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #880a1f; }

::selection {
  background: #feb1a2; }

::-moz-selection {
  background: #feb1a2; }

.ps__thumb-y {
  background-color: #424242; }

.logo-single {
  width: 110px;
  height: 35px;
  background: url("../img/logo-white.svg") no-repeat;
  background-position: center center;
  display: inline-block;
  margin-bottom: 60px; }

h1 {
  font-size: 1.75rem;
  padding-bottom: 10px;
  display: inline-block; }
  @media (max-width: 767px) {
    h1 {
      font-size: 1.3rem;
      padding-top: 0.5rem; } }

h2 {
  font-size: 1.4rem; }
  @media (max-width: 767px) {
    h2 {
      font-size: 1.1rem; } }

h3 {
  font-size: 1.3rem; }
  @media (max-width: 767px) {
    h3 {
      font-size: 1rem; } }

h3 {
  font-size: 1.2rem; }
  @media (max-width: 767px) {
    h3 {
      font-size: 1rem; } }

h4 {
  font-size: 1.15rem; }
  @media (max-width: 767px) {
    h4 {
      font-size: 0.9rem; } }

h5 {
  font-size: 1.1rem; }
  @media (max-width: 767px) {
    h5 {
      font-size: 0.9rem; } }

h6 {
  font-size: 1rem; }
  @media (max-width: 767px) {
    h6 {
      font-size: 0.85rem; } }

.r-0 {
  right: 0; }

.l-0 {
  left: 0; }

.list-item-heading {
  font-size: 1rem; }

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.min-width-zero {
  min-width: 0; }

.no-transition {
  transition: none !important; }

button {
  color: #bcbcbc;
  outline: initial !important; }

@media (max-width: 767px) {
  .display-1 {
    font-size: 2.8rem; } }

@media (max-width: 767px) {
  .display-2 {
    font-size: 2.6rem; } }

@media (max-width: 767px) {
  .display-3 {
    font-size: 2.4rem; } }

@media (max-width: 767px) {
  .display-4 {
    font-size: 2.2rem; } }

.lead {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2rem; }
  @media (max-width: 767px) {
    .lead {
      font-size: 1.1rem;
      line-height: 1.6rem; } }

.mb-5,
.my-5 {
  margin-bottom: 2rem !important; }

@media (max-width: 575px) {
  .float-none-xs {
    float: initial !important; } }

.main-heading {
  border-bottom: 1px solid #424242; }

.separator {
  border-bottom: 1px solid #424242; }

.alert-dismissible .close {
  padding: 0.5rem 1.25rem; }

.rounded {
  border-radius: 50px !important; }

.img-thumbnail {
  border-radius: 0.1rem;
  padding: 0;
  border: initial; }

.list-thumbnail {
  border-radius: 0.1rem;
  padding: 0;
  border: initial;
  height: auto;
  max-width: unset;
  height: 85px;
  object-fit: cover;
  width: unset !important; }
  @media (max-width: 991px) {
    .list-thumbnail {
      height: 80px; } }
  @media (max-width: 575px) {
    .list-thumbnail {
      height: 70px; } }
  @media (max-width: 991px) {
    .list-thumbnail.responsive {
      width: unset;
      height: 135px; } }
  @media (max-width: 575px) {
    .list-thumbnail.responsive {
      width: 110px !important;
      height: 100%; } }
  @media (max-width: 419px) {
    .list-thumbnail.responsive {
      width: 90px !important;
      height: 100%; } }
  .list-thumbnail.small {
    height: 60px;
    font-size: 1rem; }
    @media (max-width: 991px) {
      .list-thumbnail.small {
        height: 55px; } }
    @media (max-width: 575px) {
      .list-thumbnail.small {
        height: 50px; } }
  .list-thumbnail.xsmall {
    height: 40px;
    font-size: 1rem; }
    @media (max-width: 991px) {
      .list-thumbnail.xsmall {
        height: 40px; } }
    @media (max-width: 575px) {
      .list-thumbnail.xsmall {
        height: 40px; } }

.list-thumbnail-letters {
  width: 85px;
  height: 85px;
  background: #880a1f;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  color: white; }
  @media (max-width: 991px) {
    .list-thumbnail-letters {
      width: 80px;
      height: 80px; } }
  @media (max-width: 575px) {
    .list-thumbnail-letters {
      width: 70px;
      height: 70px; } }
  .list-thumbnail-letters.small {
    width: 60px;
    height: 60px;
    font-size: 1rem; }
    @media (max-width: 991px) {
      .list-thumbnail-letters.small {
        width: 55px;
        height: 55px; } }
    @media (max-width: 575px) {
      .list-thumbnail-letters.small {
        width: 50px;
        height: 50px; } }

a {
  color: #bcbcbc;
  transition: color 200ms; }
  a:hover, a:active {
    text-decoration: initial;
    color: #880a1f; }

.white {
  color: white; }

p {
  font-size: 0.85rem;
  line-height: 1.3rem;
  font-family: "Nunito", sans-serif; }

.text-large {
  font-size: 1.9rem; }

.text-xlarge {
  font-size: 2.7rem; }

.text-small {
  font-size: 0.76rem;
  line-height: 0.9rem; }

.text-zero {
  font-size: 0; }

.text-extra-small {
  font-size: 0.7rem; }

.text-muted {
  color: #a0a0a0 !important; }

.text-semi-muted {
  color: #6d6d6d !important; }

.font-weight-medium {
  font-weight: 500; }

.font-weight-semibold {
  font-weight: 600; }

.color-theme-1 {
  color: #880a1f; }

.color-theme-2 {
  color: #e7284a; }

.view-icon {
  font-size: 15px;
  color: #b2b2b2; }
  .view-icon:hover {
    color: #880a1f; }
  .view-icon.s {
    font-size: 14px; }

/* 02.Buttons */
.btn-arrow {
  display: inline-block;
  text-align: center;
  border-radius: 30px !important;
  width: 42px;
  height: 42px;
  line-height: 24px; }

.btn-arrow i {
  font-size: 15px;
  display: inline-block;
  text-align: center; }

.btn-sm.btn-arrow {
  width: 34px;
  height: 34px;
  line-height: 17px; }

.btn-sm.btn-arrow i {
  font-size: 13px;
  line-height: 10px; }

.btn {
  border-radius: 50px;
  outline: initial !important;
  box-shadow: none !important;
  box-shadow: initial !important;
  font-size: 0.8rem;
  padding: 0.75rem 1.3rem 0.6rem 1.3rem;
  transition: background-color box-shadow 0.1s linear; }

.btn-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 1px rgba(0, 0, 0, 0.15) !important;
  transition: background-color box-shadow 0.1s linear; }
  .btn-shadow:hover, .btn-shadow:focus {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15), 0 4px 6px 2px rgba(0, 0, 0, 0.15) !important; }

.btn-empty {
  background: transparent; }

.btn-lg,
.btn-group-lg > .btn,
.btn-group-sm > .btn {
  border-radius: 50px; }

.btn.default {
  border-radius: 0.1rem; }

.btn-primary {
  background-color: #880a1f;
  border-color: #880a1f; }
  .btn-primary:hover {
    background-color: #620716;
    border-color: #620716; }

.check-button {
  cursor: default !important; }

.check-button.btn-primary {
  background-color: #880a1f !important;
  border-color: #880a1f !important;
  opacity: 1; }

.check-button .custom-control {
  min-height: 1.1rem;
  margin-top: -7px; }

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #4f0612;
  border-color: #4f0612; }

.btn-secondary {
  background-color: #e7284a;
  border-color: #e7284a; }
  .btn-secondary:hover {
    background-color: #cf1738;
    border-color: #cf1738; }

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  background-color: #bd1533;
  border-color: #bd1533; }

.btn-primary.btn-primary-gradient {
  background: linear-gradient(to right, #880a1f, #41050f); }
  .btn-primary.btn-primary-gradient:hover {
    background: linear-gradient(to right, #880a1f, #620716); }

.btn-primary-gradient:not(:disabled):not(.disabled):active,
.btn-primary-gradient:not(:disabled):not(.disabled).active,
.show > .btn-primary-gradient.dropdown-toggle {
  background: linear-gradient(to right, #880a1f, #41050f); }

.btn-secondary-gradient {
  background: linear-gradient(to right, #e7284a, #af142f); }
  .btn-secondary-gradient:hover {
    background: linear-gradient(to right, #e7284a, #cf1738); }

.btn-secondary-gradient:not(:disabled):not(.disabled):active,
.btn-secondary-gradient:not(:disabled):not(.disabled).active,
.show > .btn-secondary-gradient.dropdown-toggle {
  background: linear-gradient(to right, #e7284a, #af142f); }

.btn-dark {
  color: #fff;
  background-color: #b2b2b2;
  border-color: #b2b2b2; }
  .btn-dark:hover {
    background-color: #9e9e9e;
    border-color: #9e9e9e; }

.btn-light {
  color: #fff;
  background-color: #424242;
  border-color: #424242; }
  .btn-light:hover {
    background-color: #2e2e2e;
    border-color: #2e2e2e; }

.btn-outline-dark {
  color: #b2b2b2;
  border-color: #b2b2b2; }
  .btn-outline-dark:hover {
    color: #fff;
    background-color: #9e9e9e;
    border-color: #9e9e9e; }

.btn-outline-white {
  color: white;
  border-color: white;
  background-color: initial; }
  .btn-outline-white:hover {
    color: #424242;
    background-color: white; }

.btn-outline-light {
  color: #424242;
  border-color: #424242; }
  .btn-outline-light:hover {
    color: #fff;
    background-color: #2e2e2e;
    border-color: #2e2e2e; }

.btn-outline-primary {
  color: #880a1f;
  border-color: #880a1f; }
  .btn-outline-primary:hover {
    background-color: #880a1f;
    border-color: #880a1f; }

.btn-outline-theme-3 {
  background: unset;
  color: #fd5d3d;
  border-color: #fd5d3d; }
  .btn-outline-theme-3:hover {
    background-color: #fd5d3d;
    border-color: #fd5d3d;
    color: white; }

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: #880a1f;
  border-color: #880a1f; }

.btn-outline-secondary {
  color: #e7284a;
  border-color: #e7284a; }
  .btn-outline-secondary:hover {
    background-color: #e7284a;
    border-color: #e7284a; }

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: #e7284a;
  border-color: #e7284a; }

.btn-header-light {
  color: #424242;
  border-color: transparent;
  background: transparent; }
  .btn-header-light:hover {
    background-color: transparent;
    border-color: #424242; }

.btn-header-primary {
  color: #880a1f;
  border-color: transparent;
  background: transparent; }
  .btn-header-primary:hover {
    background-color: transparent;
    border-color: #880a1f; }

.btn-header-secondary {
  color: #e7284a;
  border-color: transparent;
  background: transparent; }
  .btn-header-secondary:hover {
    background-color: transparent;
    border-color: #e7284a; }

.btn-header-primary-light {
  color: #fd5d3d;
  border-color: transparent;
  background: transparent; }
  .btn-header-primary-light:hover {
    background-color: transparent;
    border-color: #fd5d3d; }

.btn-lg,
.btn-group-lg > .btn {
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 0.75rem 2.6rem 0.6rem 2.6rem; }

.btn-sm,
.btn-group-sm > .btn {
  padding: 0.4rem 1rem 0.5rem 1rem;
  font-size: 0.76rem;
  line-height: 1.5; }

.btn-xs,
.btn-group-xs > .btn {
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  font-size: 0.76rem;
  line-height: 1.3; }

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: white;
  border-color: white; }

.btn-secondary.disabled,
.btn-secondary:disabled {
  background-color: white;
  border-color: white; }

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

.btn-link {
  color: #880a1f; }

.btn-link:hover {
  color: #290309;
  text-decoration: underline; }

.btn-multiple-state {
  position: relative;
  transition: opacity 500ms; }
  .btn-multiple-state .spinner,
  .btn-multiple-state .icon {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 500ms; }
  .btn-multiple-state .icon i {
    vertical-align: text-bottom;
    font-size: 24px; }
  .btn-multiple-state .label {
    transition: opacity 500ms; }
  .btn-multiple-state.show-spinner .label {
    opacity: 0; }
  .btn-multiple-state.show-spinner .spinner {
    opacity: 1;
    visibility: visible; }
  .btn-multiple-state.show-success .label {
    opacity: 0; }
  .btn-multiple-state.show-success .icon.success {
    opacity: 1;
    visibility: visible; }
  .btn-multiple-state.show-fail .label {
    opacity: 0; }
  .btn-multiple-state.show-fail .icon.fail {
    opacity: 1;
    visibility: visible; }

.icon-button {
  padding: 0;
  font-size: 14px;
  width: 34px;
  height: 34px;
  line-height: 34px; }
  .icon-button.large {
    width: 44px;
    height: 44px; }
  .icon-button.small-icon {
    font-size: 12px;
    line-height: 32px; }

.top-right-button {
  width: calc(100% - 80px); }
  @media (max-width: 575px) {
    .top-right-button {
      padding-left: 0;
      padding-right: 0; } }

.top-right-button-single {
  width: unset; }
  @media (max-width: 991px) {
    .top-right-button-single {
      width: calc(100%); } }

/* 03.Widths */
.w-10 {
  width: 10% !important; }

.w-90 {
  width: 90% !important; }

.w-12 {
  width: 12% !important; }

.w-88 {
  width: 88% !important; }

.w-15 {
  width: 15% !important; }

.w-85 {
  width: 85% !important; }

.w-20 {
  width: 20% !important; }

.w-80 {
  width: 80% !important; }

.w-30 {
  width: 30% !important; }

.w-70 {
  width: 70% !important; }

.w-40 {
  width: 40% !important; }

.w-60 {
  width: 60% !important; }

@media (max-width: 767px) {
  .w-xs-100 {
    width: 100% !important; } }

@media (max-width: 991px) {
  .w-sm-100 {
    width: 100% !important; } }

/* 04.Borders */
.border {
  border: 1px solid #212121 !important; }

.border-right {
  border-right: 1px solid #212121 !important; }

.border-left {
  border-left: 1px solid #212121 !important; }

.border-top {
  border-top: 1px solid #212121 !important; }

.border-bottom {
  border-bottom: 1px solid #212121 !important; }

.border-primary,
.border-theme-1 {
  border-color: #880a1f !important; }

.border-theme-2 {
  border-color: #e7284a !important; }

.border-theme-3 {
  border-color: #fd5d3d !important; }

.border-secondary {
  border-color: #bcbcbc !important; }

/* Colors */
.text-theme-2 {
  color: #e7284a !important; }

.text-theme-3 {
  color: #fd5d3d !important; }

.text-primary,
.text-theme-1 {
  color: #880a1f !important; }

.text-secondary {
  color: #bcbcbc !important; }

/* 05.Badges */
.bg-theme-2,
.badge-theme-2 {
  background-color: #e7284a !important;
  color: #fff; }

.bg-theme-3,
.badge-theme-3 {
  background-color: #fd5d3d !important;
  color: #fff; }

.bg-primary,
.bg-theme-1,
.badge-primary,
.badge-theme-1 {
  background-color: #880a1f !important;
  color: #fff; }

.bg-secondary,
.badge-secondary {
  background-color: #e7284a !important;
  color: #fff; }

.badge {
  padding: 0.55em 0.75em 0.6em 0.75em;
  font-size: 75%; }
  .badge.badge-pill {
    padding-right: 1.25em;
    padding-left: 1.25em; }
  .badge.badge-top-left {
    top: 7px;
    right: -8px; }
  .badge.badge-top-left-2 {
    top: 40px;
    right: -8px; }

.badge-outline-primary,
.badge-outline-theme-1 {
  background: unset;
  border: 1px solid #880a1f;
  color: #880a1f; }

.badge-outline-secondary,
.badge-outline-theme-2 {
  background: unset;
  border: 1px solid #e7284a;
  color: #e7284a; }

.badge-outline-theme-3 {
  background: unset;
  border: 1px solid #fd5d3d;
  color: #fd5d3d; }

.badge-outline-success {
  background: unset;
  border: 1px solid #28a745;
  color: #28a745; }

.badge-outline-danger {
  background: unset;
  border: 1px solid #dc3545;
  color: #dc3545; }

.badge-outline-warning {
  background: unset;
  border: 1px solid #ffc107;
  color: #ffc107; }

.badge-outline-info {
  background: unset;
  border: 1px solid #17a2b8;
  color: #17a2b8; }

.badge-outline-light {
  background: unset;
  border: 1px solid #424242;
  color: #b2b2b2; }

.badge-outline-dark {
  background: unset;
  border: 1px solid #b2b2b2;
  color: #b2b2b2; }

/* 06.Breadcrumb */
@media (max-width: 991px) {
  .breadcrumb-container .breadcrumb {
    padding: 0; } }

.breadcrumb {
  background-color: transparent;
  margin-bottom: 0.5rem; }

.breadcrumb-item + .breadcrumb-item::before {
  content: "|"; }

/* 07.Tabs */
.nav-tabs .nav-link {
  border: initial;
  padding-top: 1rem; }

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background: #252225; }

.nav-tabs .nav-link.active::before,
.nav-tabs .nav-item.show .nav-link::before {
  content: " ";
  background: #880a1f;
  color: white;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  top: 0; }

.nav-tabs.separator-tabs .nav-link.active::before,
.nav-tabs.separator-tabs .nav-item.show .nav-link::before {
  content: " ";
  background: #880a1f;
  color: white;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  top: unset; }

.nav-tabs.separator-tabs .nav-link {
  border: initial;
  padding-top: 1rem;
  background: initial;
  padding-left: 0;
  padding-top: 0.5rem;
  padding-right: 0;
  margin-right: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #b2b2b2; }

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border: initial;
  position: relative;
  color: #880a1f; }

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border: initial;
  color: #880a1f; }

/* 08.Owl Carousel */
.owl-stage {
  margin-bottom: 1.5rem; }

.owl-stage {
  display: flex; }

.owl-item {
  display: flex; }
  .owl-item .card {
    display: flex;
    flex-grow: 1; }
    .owl-item .card .w-50 {
      display: flex; }
    .owl-item .card .card-body {
      flex-direction: column;
      display: flex;
      justify-content: space-between; }

.slider-nav .left-arrow,
.slider-nav .right-arrow {
  font-size: 20px;
  color: #880a1f;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px; }

.slider-nav .slider-dot-container {
  display: inline-block; }

.owl-dot,
.slick-dot {
  width: 6px;
  height: 6px;
  border-radius: 10px;
  color: #00a7e2;
  background: #f46a81;
  outline: initial !important;
  border: initial;
  margin: 0 5px;
  padding: 0; }

.owl-dot.active,
.slick-dots li.slick-active button {
  background: #880a1f; }

.best-rated-items .owl-stage img {
  max-width: 230px; }

/* 09.Slick Slider */
.slick .slick-slide {
  margin-left: 15px;
  margin-right: 15px;
  outline: initial !important;
  height: unset; }
  .slick .slick-slide.card {
    display: flex;
    flex-grow: 1; }
    .slick .slick-slide.card .w-50 {
      display: flex; }
    .slick .slick-slide.card .card-body {
      flex-direction: column;
      display: flex;
      justify-content: space-between; }

.slick-list {
  display: flex; }

.slick-track {
  padding-bottom: 30px;
  display: flex; }

@media (max-width: 991px) {
  .carousel-center-col {
    padding-left: 0;
    padding-right: 0; } }

.slick-dots {
  list-style: none;
  padding: 0; }
  .slick-dots li {
    display: inline-block; }

/* 10.Navbar*/
.navbar {
  background: #252225;
  height: 120px;
  padding: 1.5rem 60px 1.5rem 0;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1); }
  .navbar #notificationDropdown {
    width: 260px;
    padding: 1.5rem;
    height: 280px;
    right: 15px; }
  .navbar #iconMenuDropdown {
    width: 240px;
    padding: 1.5rem;
    height: 290px; }
  .navbar .icon-menu-item {
    width: 90px;
    display: inline-block;
    text-align: center;
    margin-bottom: 1.7rem;
    color: #efefef; }
    .navbar .icon-menu-item i {
      font-size: 32px;
      line-height: 42px; }
    .navbar .icon-menu-item span {
      text-align: center;
      padding: 0 10px;
      line-height: 14px; }
    .navbar .icon-menu-item:hover, .navbar .icon-menu-item:focus {
      color: #880a1f; }
  .navbar .menu-button-mobile {
    color: #b2b2b2;
    text-align: center; }
    .navbar .menu-button-mobile svg {
      height: 12px;
      fill: #bcbcbc; }
    @media (max-width: 767px) {
      .navbar .menu-button-mobile {
        width: 20px; } }
  .navbar .menu-button {
    color: #b2b2b2;
    width: 120px;
    text-align: center; }
    .navbar .menu-button svg {
      height: 12px; }
    .navbar .menu-button .main {
      fill: #bcbcbc;
      transition: fill 300ms; }
    .navbar .menu-button .sub {
      fill: #bcbcbc;
      transition: fill 300ms; }
    .navbar .menu-button:hover {
      color: #880a1f; }
    @media (max-width: 767px) {
      .navbar .menu-button {
        width: 60px; } }
  .navbar .navbar-logo {
    width: 110px;
    height: 35px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto; }
    .navbar .navbar-logo .logo {
      width: 100%;
      height: 100%;
      background: url("../img/logo-white.svg") no-repeat;
      background-position: center center; }
    .navbar .navbar-logo .logo-mobile {
      width: 100%;
      height: 100%;
      background: url("../img/logo-mobile.svg") no-repeat;
      background-position: center center; }
    @media (max-width: 767px) {
      .navbar .navbar-logo {
        width: 80px; } }
    @media (max-width: 419px) {
      .navbar .navbar-logo {
        width: 20px; } }
  .navbar .search {
    position: relative;
    width: 230px;
    border-radius: 20px;
    background: #131113; }
    .navbar .search input {
      border: initial;
      background: transparent;
      outline: initial !important;
      padding: 0.5rem 1rem;
      line-height: 2;
      font-size: 0.8rem;
      width: 93%;
      color: #bcbcbc; }
    .navbar .search .search-icon {
      font-size: 17px;
      border-radius: 10px;
      color: #424242;
      position: absolute;
      width: 40px;
      height: 40px;
      bottom: -6px;
      right: 3px;
      text-align: center;
      cursor: pointer; }
      .navbar .search .search-icon:hover {
        color: #880a1f; }
    @media (max-width: 991px) {
      .navbar .search {
        width: 115px; }
        .navbar .search input {
          width: 85%; } }
    @media (max-width: 767px) {
      .navbar .search {
        width: 30px;
        height: 30px;
        background: initial;
        margin-left: 0.6rem;
        color: white; }
        .navbar .search input {
          display: none; }
        .navbar .search .search-icon {
          font-size: 17px;
          width: 30px;
          height: 30px;
          bottom: -3px;
          right: 0;
          color: inherit; }
        .navbar .search.mobile-view {
          display: block;
          width: 100%;
          position: fixed;
          z-index: 2;
          background: #252225;
          left: 0;
          top: 0;
          height: 70px;
          margin-left: 15px; }
          .navbar .search.mobile-view input {
            display: block;
            width: 100%;
            height: 70px;
            padding-left: 0; }
          .navbar .search.mobile-view span {
            top: 50%;
            transform: translateY(-50%);
            right: 25px; } }
  .navbar .header-icons {
    margin-right: 1rem; }
    @media (max-width: 575px) {
      .navbar .header-icons {
        margin-right: 0; } }
  .navbar .header-icon {
    font-size: 16px;
    color: white;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    vertical-align: initial; }
    @media (max-width: 575px) {
      .navbar .header-icon {
        padding-left: 0.3rem;
        padding-right: 0.3rem; } }
    .navbar .header-icon:hover {
      color: #880a1f; }
    .navbar .header-icon#fullScreenButton i:last-of-type {
      display: none; }
    .navbar .header-icon#notificationButton:after {
      font-size: 10px;
      content: "3";
      color: #880a1f;
      border: 1px solid #880a1f;
      border-radius: 10px;
      position: absolute;
      width: 15px;
      height: 15px;
      text-align: center;
      font-weight: 700;
      top: 2px;
      right: 3px;
      line-height: 14px; }
      @media (max-width: 575px) {
        .navbar .header-icon#notificationButton:after {
          right: -1px; } }
  .navbar .user {
    color: white;
    position: relative; }
    .navbar .user img {
      margin-left: 10px;
      border-radius: 30px;
      width: 40px; }
    @media (max-width: 991px) {
      .navbar .user .name {
        display: none; } }
    @media (max-width: 767px) {
      .navbar .user {
        margin-left: initial; }
        .navbar .user img {
          width: 30px; }
        .navbar .user:after {
          font-size: 11px;
          width: 14px;
          height: 14px;
          bottom: -3px;
          right: -3px; } }
  @media (max-width: 1439px) {
    .navbar {
      height: 90px; } }
  @media (max-width: 1199px) {
    .navbar {
      height: 80px;
      padding: 1.5rem 40px 1.5rem 0; } }
  @media (max-width: 767px) {
    .navbar {
      height: 70px;
      padding: 15px; } }

#app-container.sub-hidden .menu-button .sub,
#app-container.menu-sub-hidden .menu-button .sub {
  fill: white; }

#app-container.main-hidden .menu-button .main,
#app-container.main-hidden .menu-button .sub,
#app-container.menu-hidden .menu-button .main,
#app-container.menu-hidden .menu-button .sub {
  fill: white; }

/* 11.Menu*/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 120px;
  z-index: 5; }
  .sidebar .main-menu {
    width: 120px;
    height: 100%;
    background: #252225;
    z-index: 3;
    position: fixed;
    transition: transform 300ms;
    padding-top: 2px;
    left: 0; }
    .sidebar .main-menu .scroll {
      padding-right: unset;
      margin-right: unset; }
      .sidebar .main-menu .scroll .ps__thumb-y {
        right: 0; }
    .sidebar .main-menu ul li {
      position: relative; }
      .sidebar .main-menu ul li span {
        text-align: center;
        padding: 0 10px;
        line-height: 14px; }
      .sidebar .main-menu ul li a {
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        border-bottom: 1px solid #212121;
        color: #efefef;
        transition: color 300ms;
        transition: background 300ms; }
        .sidebar .main-menu ul li a:hover, .sidebar .main-menu ul li a:focus {
          color: #880a1f;
          background: #131113; }
      .sidebar .main-menu ul li i {
        font-size: 32px;
        line-height: 42px; }
      .sidebar .main-menu ul li.active a {
        color: #880a1f; }
      .sidebar .main-menu ul li.active:after {
        content: " ";
        background: #880a1f;
        color: white;
        border-radius: 10px;
        position: absolute;
        width: 6px;
        height: 90px;
        top: 50%;
        transform: translateY(-50%);
        left: 0; }
    @media (max-width: 1439px) {
      .sidebar .main-menu {
        width: 110px; } }
    @media (max-width: 1199px) {
      .sidebar .main-menu {
        width: 100px; } }
    @media (max-width: 767px) {
      .sidebar .main-menu {
        width: 90px; }
        .sidebar .main-menu ul li i {
          font-size: 26px;
          line-height: 30px; }
        .sidebar .main-menu ul li a {
          height: 90px; }
        .sidebar .main-menu ul li.active:after {
          width: 3px;
          height: 60px; } }
  .sidebar .sub-menu {
    width: 230px;
    height: 100%;
    background: #252225;
    z-index: 2;
    position: fixed;
    left: 120px;
    border-left: 1px solid #212121;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3), 0 3px 24px rgba(0, 0, 0, 0.3);
    transition: transform 300ms; }
    .sidebar .sub-menu .scroll {
      margin-top: 2px;
      margin-right: unset;
      padding-right: unset; }
      .sidebar .sub-menu .scroll .ps__thumb-y {
        right: 0; }
    .sidebar .sub-menu .ps {
      padding-top: 25px;
      padding-bottom: 25px; }
    .sidebar .sub-menu ul {
      display: none; }
      .sidebar .sub-menu ul li {
        margin-bottom: 10px;
        margin-left: 30px; }
        .sidebar .sub-menu ul li a {
          font-size: 13px;
          display: block;
          padding: 8px 0; }
        .sidebar .sub-menu ul li i {
          font-size: 1.2em;
          margin-right: 10px;
          color: white;
          vertical-align: unset; }
        .sidebar .sub-menu ul li.active i,
        .sidebar .sub-menu ul li.active a {
          color: #880a1f; }
        @media (max-width: 767px) {
          .sidebar .sub-menu ul li {
            margin-left: 15px; } }
    @media (max-width: 1439px) {
      .sidebar .sub-menu {
        left: 110px;
        width: 220px; } }
    @media (max-width: 1199px) {
      .sidebar .sub-menu {
        left: 100px;
        width: 200px; } }
    @media (max-width: 767px) {
      .sidebar .sub-menu {
        left: 90px;
        width: 190px; } }
  @media (max-width: 1439px) {
    .sidebar {
      padding-top: 90px; } }
  @media (max-width: 1199px) {
    .sidebar {
      padding-top: 80px; } }
  @media (max-width: 767px) {
    .sidebar {
      padding-top: 70px;
      box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1); } }

#app-container.sub-hidden .sub-menu,
#app-container.menu-sub-hidden .sub-menu,
#app-container.menu-hidden .sub-menu {
  transform: translateX(-230px); }
  @media (max-width: 1439px) {
    #app-container.sub-hidden .sub-menu,
    #app-container.menu-sub-hidden .sub-menu,
    #app-container.menu-hidden .sub-menu {
      transform: translateX(-220px); } }
  @media (max-width: 1199px) {
    #app-container.sub-hidden .sub-menu,
    #app-container.menu-sub-hidden .sub-menu,
    #app-container.menu-hidden .sub-menu {
      transform: translateX(-200px); } }
  @media (max-width: 767px) {
    #app-container.sub-hidden .sub-menu,
    #app-container.menu-sub-hidden .sub-menu,
    #app-container.menu-hidden .sub-menu {
      transform: translateX(-190px); } }

#app-container.main-hidden .main-menu,
#app-container.menu-hidden .main-menu {
  transform: translateX(-120px); }
  @media (max-width: 1439px) {
    #app-container.main-hidden .main-menu,
    #app-container.menu-hidden .main-menu {
      transform: translateX(-110px); } }
  @media (max-width: 1199px) {
    #app-container.main-hidden .main-menu,
    #app-container.menu-hidden .main-menu {
      transform: translateX(-100px); } }
  @media (max-width: 767px) {
    #app-container.main-hidden .main-menu,
    #app-container.menu-hidden .main-menu {
      transform: translateX(-90px); } }

#app-container.main-hidden.sub-hidden .sub-menu,
#app-container.menu-hidden .sub-menu {
  transform: translateX(-350px); }
  @media (max-width: 1439px) {
    #app-container.main-hidden.sub-hidden .sub-menu,
    #app-container.menu-hidden .sub-menu {
      transform: translateX(-330px); } }
  @media (max-width: 1199px) {
    #app-container.main-hidden.sub-hidden .sub-menu,
    #app-container.menu-hidden .sub-menu {
      transform: translateX(-300px); } }
  @media (max-width: 767px) {
    #app-container.main-hidden.sub-hidden .sub-menu,
    #app-container.menu-hidden .sub-menu {
      transform: translateX(-280px); } }

#app-container.menu-mobile .main-menu {
  transform: translateX(-90px); }

#app-container.menu-mobile .sub-menu {
  transform: translateX(-330px); }

#app-container.main-show-temporary .main-menu {
  transform: translateX(0); }

#app-container.main-show-temporary .sub-menu {
  transform: translateX(-230px); }

@media (max-width: 1439px) {
  #app-container.main-show-temporary .main-menu {
    transform: translateX(0); }
  #app-container.main-show-temporary .sub-menu {
    transform: translateX(-220px); } }

@media (max-width: 1199px) {
  #app-container.main-show-temporary .main-menu {
    transform: translateX(0); }
  #app-container.main-show-temporary .sub-menu {
    transform: translateX(-200px); } }

@media (max-width: 767px) {
  #app-container.main-show-temporary .sub-menu {
    transform: translateX(-190px); } }

#app-container.sub-show-temporary .sub-menu, #app-container.menu-mobile.sub-show-temporary .sub-menu {
  transform: translateX(0); }

/* 12.Apps*/
.app-menu {
  z-index: 1;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  height: 100%;
  float: right;
  background: #252225;
  transition: transform 300ms;
  position: fixed;
  right: 0;
  top: 120px; }
  @media (max-width: 1439px) {
    .app-menu {
      top: 90px; } }
  @media (max-width: 1199px) {
    .app-menu {
      top: 80px;
      transform: translateX(280px); } }
  @media (max-width: 767px) {
    .app-menu {
      top: 70px; } }
  .app-menu .scroll .ps__thumb-y {
    right: 0; }
  .app-menu.shown {
    transform: translateX(0); }
  .app-menu .app-menu-button {
    position: absolute;
    left: -28px;
    background: #252225;
    top: 45px;
    padding: 12px 8px 12px 5px;
    border-radius: 0.2rem;
    color: #b2b2b2;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.04);
    font-size: 15px;
    line-height: 0; }
    @media (max-width: 1439px) {
      .app-menu .app-menu-button {
        top: 36px; } }
    @media (max-width: 1199px) {
      .app-menu .app-menu-button {
        top: 27px; } }
    @media (max-width: 767px) {
      .app-menu .app-menu-button {
        top: 13px; } }
  .app-menu ul li {
    margin-bottom: 5px; }
    .app-menu ul li a {
      font-size: 13px;
      display: block;
      padding: 3px 0; }
      .app-menu ul li a:hover i {
        color: #880a1f; }
    .app-menu ul li i {
      font-size: 1.2em;
      margin-right: 10px;
      color: white;
      vertical-align: unset; }
      @media (max-width: 767px) {
        .app-menu ul li i {
          font-size: 20px; } }
    .app-menu ul li.active i,
    .app-menu ul li.active a {
      color: #880a1f; }

.app-row {
  padding-right: 280px; }
  @media (max-width: 1199px) {
    .app-row {
      padding-right: 0; } }

/* 13.Chat App*/
.chat-app .scroll {
  padding-left: 10px;
  margin-left: -10px;
  padding-right: 10px;
  margin-right: -10px;
  height: calc(100vh - 120px - 270px); }
  @media (max-width: 1439px) {
    .chat-app .scroll {
      height: calc(100vh - 90px - 270px); } }
  @media (max-width: 1199px) {
    .chat-app .scroll {
      height: calc(100vh - 80px - 270px); } }
  @media (max-width: 767px) {
    .chat-app .scroll {
      height: calc(100vh - 70px - 220px); } }
  .chat-app .scroll .ps__thumb-y {
    right: 10px; }

@media (max-width: 767px) {
  .chat-app .list-item-heading {
    font-size: 0.9rem; } }

@media (max-width: 767px) {
  .chat-app .card .card-body {
    padding: .75rem; } }

.chat-app .chat-text-left {
  padding-left: 64px; }

.chat-app .chat-text-right {
  padding-right: 64px; }

.chat-input-container {
  width: 100%;
  height: 90px;
  background: #252225;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1);
  padding-left: 180px;
  padding-right: 340px; }
  @media (max-width: 1439px) {
    .chat-input-container {
      padding-left: 160px;
      padding-right: 330px; } }
  @media (max-width: 1199px) {
    .chat-input-container {
      padding-left: 140px;
      padding-right: 40px; } }
  @media (max-width: 767px) {
    .chat-input-container {
      padding-right: 15px;
      padding-left: 15px; } }
  .chat-input-container input {
    border: initial;
    width: unset;
    height: 90px;
    padding-left: 0;
    display: inline-block; }
  @media (max-width: 991px) {
    .chat-input-container .send-button {
      padding-left: 0.7rem;
      padding-right: 0.7rem; } }

/* 14.Survey App*/
.survey-app .answers .badge {
  color: #b2b2b2; }

.survey-app .answers input {
  padding-right: 70px; }

.survey-app .question.edit-quesiton .edit-mode {
  display: block; }

.survey-app .question.edit-quesiton .view-mode {
  display: none; }

.survey-app .question.edit-quesiton .view-button {
  display: inline-block; }

.survey-app .question.edit-quesiton .edit-button {
  display: none; }

.survey-app .question.view-quesiton .edit-mode {
  display: none; }

.survey-app .question.view-quesiton .view-mode {
  display: block; }

.survey-app .question.view-quesiton .view-button {
  display: none; }

.survey-app .question.view-quesiton .edit-button {
  display: inline-block; }

.survey-app .survey-question-types .btn-group-icon {
  font-size: 21px;
  line-height: 28px; }

.survey-app .survey-question-types .btn {
  padding-bottom: 0.3rem; }

.input-icons {
  position: absolute;
  right: 0;
  top: 9px; }

/* 15.Todo App*/
.heading-icon {
  color: #880a1f;
  font-size: 20px;
  line-height: inherit;
  margin-right: 5px;
  vertical-align: middle; }

.heading-number {
  border: 1px solid #880a1f;
  padding: 4px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 20px;
  width: 34px;
  height: 34px;
  text-align: center;
  color: #880a1f; }

/* 16.Main*/
main {
  margin-left: 410px;
  margin-top: 165px;
  margin-right: 60px;
  margin-bottom: 40px;
  transition: margin-left 300ms; }
  main .container-fluid {
    padding-left: 0;
    padding-right: 0; }
  @media (max-width: 1439px) {
    main {
      margin-left: 380px;
      margin-right: 50px;
      margin-top: 130px;
      margin-bottom: 30px; } }
  @media (max-width: 1199px) {
    main {
      margin-left: 340px;
      margin-right: 40px;
      margin-top: 110px;
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    main {
      margin-left: 15px !important;
      margin-right: 15px !important;
      margin-top: 85px !important;
      margin-bottom: 0; } }
  @media (max-width: 575px) {
    main {
      margin-bottom: 0; } }

#app-container.sub-hidden main,
#app-container.menu-sub-hidden main,
#app-container.menu-hidden main {
  margin-left: 180px; }

#app-container.main-hidden main,
#app-container.menu-hidden main {
  margin-left: 60px; }

@media (max-width: 1439px) {
  #app-container.sub-hidden main,
  #app-container.menu-sub-hidden main,
  #app-container.menu-hidden main {
    margin-left: 160px; }
  #app-container.main-hidden main,
  #app-container.menu-hidden main {
    margin-left: 50px; } }

@media (max-width: 1199px) {
  #app-container.sub-hidden main,
  #app-container.menu-sub-hidden main,
  #app-container.menu-hidden main {
    margin-left: 140px; }
  #app-container.main-hidden main,
  #app-container.menu-hidden main {
    margin-left: 40px; } }

/* 17.Cards*/
.card {
  border: initial;
  background: #252225;
  border-radius: calc(0.15rem - 1px);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1); }
  .card .card-header .card-icon {
    right: 5px;
    top: 5px; }
    .card .card-header .card-icon i {
      font-size: 12px;
      color: #424242; }
  .card .card-header .handle {
    cursor: default; }
  .card .card-body {
    padding: 1.75rem; }
    @media (max-width: 575px) {
      .card .card-body {
        padding: 1.5rem; } }
    .card .card-body.sm {
      padding: 1.25rem 1.75rem; }
  .card .card-title {
    margin-bottom: 2rem; }

.card-img {
  border-radius: calc(0.25rem - 1px);
  height: 100%;
  object-fit: cover;
  max-height: 200px;
  width: unset; }

.card-img-bottom {
  width: 100%;
  border-bottom-left-radius: calc(0.15rem - 1px);
  border-bottom-right-radius: calc(0.15rem - 1px); }

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.15rem - 1px);
  border-top-right-radius: calc(0.15rem - 1px); }

.card-img-left {
  width: 100%;
  border-top-left-radius: calc(0.15rem - 1px);
  border-bottom-left-radius: calc(0.15rem - 1px);
  height: 100%;
  object-fit: cover; }

.card-img-right {
  width: 100%;
  border-top-right-radius: calc(0.15rem - 1px);
  border-bottom-right-radius: calc(0.15rem - 1px);
  height: 100%;
  object-fit: cover; }

.card-img-overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 1.75rem; }
  @media (max-width: 575px) {
    .card-img-overlay {
      padding: 1rem; } }

.card-top-buttons {
  padding: 1.3rem;
  right: 0;
  top: 0; }
  @media (max-width: 575px) {
    .card-top-buttons {
      padding: 0.35rem; } }

.card-header {
  border: initial;
  background: initial;
  padding-top: 0; }

/* 18.Dashboard*/
.dashboard-line-chart {
  height: 283px; }

.dashboard-quick-post {
  min-height: 283px; }

.dashboard-list-with-thumbs {
  height: 500px; }

.dashboard-logs {
  height: 270px; }

.dashboard-list-with-user {
  height: 270px; }

.dashboard-donut-chart {
  height: 270px; }

.dashboard-small-chart {
  height: 150px; }
  .dashboard-small-chart .chart {
    height: 60px; }
  .dashboard-small-chart .lead {
    font-size: 1.4rem; }

.dashboard-small-chart-analytics {
  height: 180px; }
  .dashboard-small-chart-analytics .chart {
    height: 80px; }
  .dashboard-small-chart-analytics .lead {
    font-size: 1.4rem; }

.dashboard-filled-line-chart {
  height: 340px; }
  .dashboard-filled-line-chart .chart {
    height: 200px; }

.dashboard-numbers .owl-nav,
.dashboard-numbers .owl-dots {
  display: none; }

.dashboard-sq-banner {
  background-image: linear-gradient(to right top, #5d0413, #a32337, #992235);
  background-size: cover;
  height: 385px;
  transition: 0.5s;
  background-size: 350% auto;
  cursor: pointer; }
  .dashboard-sq-banner .card-body {
    width: 270px; }
  .dashboard-sq-banner .lead {
    line-height: 2.3rem; }
  .dashboard-sq-banner:hover {
    background-position: right top; }

.dashboard-link-list {
  height: 385px; }

.dashboard-progress {
  height: 385px; }

.dashboard-top-rated {
  height: 300px; }

.dashboard-search {
  height: 650px;
  background: url("../img/plane.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #252225; }
  .dashboard-search .card-body {
    padding: 120px 50px 30px 50px; }
    @media (max-width: 1439px) {
      .dashboard-search .card-body {
        padding: 80px 30px 30px 30px; } }
  .dashboard-search .form-container {
    height: 400px;
    border-radius: 0.1rem;
    box-shadow: 0px -10px 15px 0px rgba(0, 0, 0, 0.04);
    padding: 2rem;
    background-color: #252225; }

.icon-cards-row {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -10px; }
  .icon-cards-row .owl-stage {
    padding-top: 10px; }
  .icon-cards-row [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px; }
  .icon-cards-row .card-body {
    padding: 2rem 0.5rem; }
  .icon-cards-row .card-text {
    color: #b2b2b2;
    height: 30px;
    line-height: 26px; }
  .icon-cards-row .lead {
    color: #880a1f;
    margin-bottom: 0; }
  .icon-cards-row i {
    font-size: 46px;
    line-height: 66px;
    color: #880a1f; }
  .icon-cards-row .card {
    transition: box-shadow 1000ms;
    cursor: pointer; }
  @media (max-width: 1439px) {
    .icon-cards-row .card-text {
      height: 48px;
      line-height: 18px; }
    .icon-cards-row .lead {
      font-size: 1.6rem; }
    .icon-cards-row i {
      font-size: 32px;
      line-height: 47px; } }

.log-indicator {
  width: 13px;
  height: 13px;
  border: 2px solid #880a1f;
  border-radius: 14px;
  display: inline-block; }

/* 19.Calendar */
.calendar .alert-info {
  color: #880a1f;
  background-color: initial; }

.calendar h2 {
  font-size: 14px;
  margin-top: 10px;
  display: inline-block; }

.fc-basic-view .fc-body .fc-row {
  min-height: 6em; }
  @media (max-width: 575px) {
    .fc-basic-view .fc-body .fc-row {
      min-height: 3em; } }

.fc-toolbar.fc-header-toolbar .btn-group .fc-next-button,
.fc-toolbar.fc-header-toolbar .btn-group .fc-prev-button {
  outline: initial !important;
  box-shadow: initial !important;
  border-radius: 40px !important;
  text-align: center;
  min-width: 30px;
  height: 30px;
  padding: 0.55rem 0;
  background: #880a1f;
  color: white;
  border: 1px solid #880a1f;
  line-height: 0.9 !important;
  font-size: 0.76rem;
  font-weight: normal !important; }
  .fc-toolbar.fc-header-toolbar .btn-group .fc-next-button span,
  .fc-toolbar.fc-header-toolbar .btn-group .fc-prev-button span {
    line-height: 0.9 !important;
    font-size: 0.76rem;
    font-weight: normal !important; }
  .fc-toolbar.fc-header-toolbar .btn-group .fc-next-button:hover,
  .fc-toolbar.fc-header-toolbar .btn-group .fc-prev-button:hover {
    background-color: transparent;
    border-color: #b80d2a;
    color: #880a1f; }

.fc-toolbar.fc-header-toolbar .fc-prev-button {
  margin-right: 5px; }

.fc-today-button {
  padding: 0.4em 1.3em !important;
  height: unset !important; }

.fc-bootstrap4 .fc-day-top .fc-day-number {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  vertical-align: middle;
  padding: 5px; }

.fc-bootstrap4 td.fc-today {
  background: initial; }
  .fc-bootstrap4 td.fc-today .fc-day-number {
    background: #880a1f;
    color: white; }

.fc-day-grid-container {
  height: 100%;
  overflow: visible; }

.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
  padding: 5px; }

.fc-view,
.fc-view > table {
  border-top: initial; }

.fc table {
  border: initial; }

.fc .table-bordered thead th,
.fc .table-bordered thead td {
  border-top: initial;
  border-bottom: initial;
  border-left: initial; }

.fc td:first-of-type,
.fc th:first-of-type {
  border-left: initial;
  border-bottom: initial; }

.fc td:last-of-type,
.fc th:last-of-type {
  border-right: initial;
  border-bottom: initial; }

.fc-body .fc-row:last-of-type td {
  border-bottom: initial; }

.fc tbody > tr > td.fc-widget-content:first-of-type {
  border-left: initial;
  border-right: initial;
  border-bottom: initial; }

.fc table,
.fc .table-bordered th,
.fc .table-bordered td {
  border-color: #212121 !important; }

.fc-day-header {
  color: #880a1f; }
  .fc-day-header span {
    padding: 10px;
    display: inline-block; }

.fc-event {
  border: initial; }

.fc-event,
.fc-event-dot {
  background-color: #e7284a;
  color: white !important;
  padding: 1px 6px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center; }

/* 20.Datatable */
.dataTables_wrapper {
  overflow: hidden; }

table.dataTable td {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #212121;
  outline: initial !important; }

table.dataTable tr:last-of-type td {
  border-bottom: initial; }

table.dataTable {
  width: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

table p,
table h6 {
  margin-bottom: initial; }

table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-top: 10px;
  padding-bottom: 10px; }

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  right: 1.5em; }

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 2em; }

.dataTables_wrapper .paginate_button.previous {
  margin-right: 15px; }

.dataTables_wrapper .paginate_button.next {
  margin-left: 15px; }

div.dataTables_wrapper div.dataTables_paginate {
  margin-top: 25px; }

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  justify-content: center; }

.dataTables_wrapper .paginate_button.page-item {
  padding-left: 10px;
  padding-right: 10px; }

table.dataTable.dtr-inline.collapsed
> tbody
> tr[role="row"]
> td:first-child:before,
table.dataTable.dtr-inline.collapsed
> tbody
> tr[role="row"]
> th:first-child:before {
  top: unset;
  box-shadow: initial;
  background-color: #880a1f;
  font-size: 12px; }

/* 21.Alerts */
.alert {
  border-radius: 0; }

.alert-primary {
  color: #880a1f;
  background-color: #f899a9;
  border-color: #f899a9; }

.alert-secondary {
  color: #e7284a;
  background-color: #fbe0e4;
  border-color: #fbe0e4; }

.alert *[data-notify="title"] {
  display: block;
  font-size: 0.9rem; }

div[data-notify="container"] {
  padding: 18px; }

/* 22.Forms */
.form-check-label,
.custom-control-label {
  line-height: 24px; }

.form-control,
.bootstrap-tagsinput {
  border-radius: 0.1rem;
  outline: initial !important;
  box-shadow: initial !important;
  font-size: 0.8rem;
  padding: 0.75rem 0.75rem 0.5rem 0.75rem;
  line-height: 1.5;
  border: 1px solid #424242;
  background: #252225;
  color: #bcbcbc; }

.bootstrap-tagsinput input {
  color: #bcbcbc; }

.has-float-label label::after,
.has-float-label > span::after {
  background: #252225; }

.form-control:focus {
  background: #252225;
  color: #bcbcbc; }

.bootstrap-tagsinput {
  width: 100%; }

.bootstrap-tagsinput input {
  padding: 0; }

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: initial; }

.bootstrap-tagsinput .tag {
  background: #880a1f;
  border-radius: 15px;
  padding: 0px 10px;
  margin-bottom: 0px;
  display: inline-block;
  font-size: 12px; }

.form-control:focus,
.bootstrap-tagsinput.focus {
  border-color: #f13a59; }

select.form-control:not([size]):not([multiple]) {
  height: calc(2.4rem + 3px); }

.custom-control-label,
.custom-control-input {
  outline: initial !important;
  box-shadow: initial !important; }

.custom-control-input {
  left: 1px;
  top: 3px;
  opacity: 0;
  z-index: 1; }

.custom-control-label::before {
  border: 1px solid #a0a0a0;
  background: initial; }

.custom-checkbox
.custom-control-input:indeterminate
~ .custom-control-label::before {
  background-color: #880a1f; }

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #880a1f;
  box-shadow: initial !important;
  border: 1px solid #880a1f; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #880a1f;
  box-shadow: initial !important; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #880a1f;
  box-shadow: initial !important; }

.custom-control-label::after,
.custom-control-label::before {
  box-shadow: initial !important; }

.custom-control-label::before {
  top: 0.25rem; }

.custom-control-label::after {
  top: 0.25rem; }

.btn.rotate-icon-click i {
  transition: transform 0.5s; }

.btn.rotate i {
  transform: rotate(180deg); }

.btn .custom-control-label::before {
  border: 1px solid white; }

.btn .custom-control-input:checked ~ .custom-control-label::before {
  border: 1px solid white; }

.btn-group-icon {
  line-height: 22px; }

.valid-tooltip,
.invalid-tooltip {
  border-radius: 15px;
  padding: 0.5rem 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.76rem; }

.valid-tooltip {
  background-color: #28a745;
  margin-top: -0.2rem; }

.invalid-tooltip {
  background-color: #dc3545;
  margin-top: -0.2rem; }

.valid-tooltip:after {
  content: "";
  position: absolute;
  top: -5px;
  left: -2.5px;
  margin-left: 50%;
  width: 10px;
  height: 5px;
  border-bottom: solid 5px #28a745;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent; }

.invalid-tooltip:after {
  content: "";
  position: absolute;
  top: -5px;
  left: -2.5px;
  margin-left: 50%;
  width: 10px;
  height: 5px;
  border-bottom: solid 5px #dc3545;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent; }

.valid-icon {
  position: absolute;
  bottom: 8px;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.5rem;
  margin-top: 0;
  font-size: 0.76rem;
  line-height: 1;
  color: #fff;
  border-radius: 0.2rem;
  right: 4px;
  color: #28a745; }

.invalid-icon {
  position: absolute;
  bottom: 2px;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.5rem;
  margin-top: 0;
  font-size: 0.875rem;
  line-height: 1;
  color: #fff;
  border-radius: 0.2rem;
  right: 4px;
  color: #dc3545; }

.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-icon,
.form-control.is-invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-icon,
.was-validated .custom-select:invalid ~ .invalid-feedback,
.was-validated .custom-select:invalid ~ .invalid-icon,
.custom-select.is-invalid ~ .invalid-feedback,
.custom-select.is-invalid ~ .invalid-icon {
  display: block; }

.was-validated .form-control:valid ~ .valid-feedback,
.was-validated .form-control:valid ~ .valid-icon,
.form-control.is-valid ~ .valid-feedback,
.form-control.is-valid ~ .valid-icon,
.was-validated .custom-select:valid ~ .valid-feedback,
.was-validated .custom-select:valid ~ .valid-icon,
.custom-select.is-valid ~ .valid-feedback,
.custom-select.is-valid ~ .valid-icon {
  display: block; }

.select2-container--bootstrap .select2-selection--single {
  padding: 0.65rem 0.75rem 0.5rem 0.75rem;
  height: calc(2.4rem + 3px);
  border-radius: 0.1rem !important; }

.select2-dropdown,
.select2-container--bootstrap .select2-selection.form-control {
  background: #252225; }

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  background: #252225;
  color: #bcbcbc; }

.select2-container--bootstrap .select2-results__option[aria-selected="true"] {
  background: #252225;
  color: #bcbcbc; }

.select2-container--bootstrap
.select2-selection--single
.select2-selection__rendered {
  color: #bcbcbc; }

.input-group-text {
  background-color: #322e32;
  border-color: #424242;
  color: #bcbcbc;
  font-size: 0.8rem;
  padding: 0.75rem 0.75rem 0.5rem 0.75rem; }

.select2-container--bootstrap .select2-selection {
  border: 1px solid #424242; }

.select2-container {
  width: 100% !important; }

.select2-container--bootstrap
.select2-selection--multiple
.select2-search--inline
.select2-search__field {
  height: calc(2.4rem + 1px); }

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
  border-color: #f13a59; }

.select2-container--bootstrap .select2-dropdown {
  border-color: #f13a59; }

.select2-container--bootstrap
.select2-results__option--highlighted[aria-selected] {
  background-color: #880a1f;
  color: #fff; }

.select2-dropdown,
.select2-container--bootstrap .select2-selection.form-control {
  border-radius: 0.1rem !important; }

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  border-radius: 0.1rem !important; }

.select2-container--bootstrap
.select2-selection--multiple
.select2-selection__choice {
  border-radius: 0.1rem;
  margin: 9px 0 0 8px; }

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  border: 1px solid #b2b2b2;
  outline: initial; }

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  padding-right: 10px; }

.datepicker-dropdown:before {
  border-bottom-color: rgba(188, 188, 188, 0.2); }

.datepicker-dropdown.datepicker-orient-top:before {
  border-top: 7px solid rgba(188, 188, 188, 0.2); }

.datepicker table tr td,
.datepicker table tr th {
  color: #bcbcbc; }

.datepicker-dropdown.datepicker-orient-top:after {
  border-top-color: #252225; }

.datepicker-dropdown.datepicker-orient-bottom:after {
  border-bottom-color: #252225; }

.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
  background: #424242; }

.datepicker table tr td,
.datepicker table tr th {
  width: 35px;
  height: 35px;
  border-radius: 0.1rem; }

.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active:active {
  color: #fff;
  background-color: #880a1f;
  border-color: #880a1f; }

.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active.focus,
.datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active.highlighted:active.focus,
.datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active:active.focus,
.datepicker table tr td.active:active:focus,
.datepicker table tr td.active:active:hover {
  color: #fff;
  background-color: #580714;
  border-color: #580714; }

.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover:active {
  background-color: #580714;
  border-color: #580714; }

.datepicker.datepicker-inline,
.datepicker.datepicker-inline table {
  width: 100%; }

.datepicker table tr td span.focused,
.datepicker table tr td span:hover {
  background: #424242; }

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
  background: #424242; }

.dropzone {
  min-height: 115px;
  border: 1px solid #424242;
  background: #252225;
  padding: 10px 10px;
  border-radius: 0.1rem;
  color: #bcbcbc;
  height: 115px; }

.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message * {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  margin: 0; }

.dropzone .dz-preview.dz-image-preview {
  width: 260px;
  height: unset;
  min-height: unset;
  border: 1px solid #424242;
  border-radius: 0.1rem;
  background: #252225;
  color: #bcbcbc; }
  .dropzone .dz-preview.dz-image-preview strong {
    font-weight: normal; }
  .dropzone .dz-preview.dz-image-preview .remove {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #880a1f; }
  .dropzone .dz-preview.dz-image-preview .dz-details {
    position: static;
    display: block;
    opacity: 1;
    text-align: left;
    min-width: unset;
    z-index: initial;
    color: #bcbcbc; }
  .dropzone .dz-preview.dz-image-preview .dz-error-mark {
    color: white;
    transform: translateX(-50%) translateY(-50%) !important;
    transition: initial !important;
    animation: initial !important;
    margin-left: 0;
    margin-top: 0; }
    .dropzone .dz-preview.dz-image-preview .dz-error-mark i {
      font-size: 26px; }
  .dropzone .dz-preview.dz-image-preview .dz-progress {
    width: 90%;
    margin-left: 0;
    margin-top: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    height: 5px; }
    .dropzone .dz-preview.dz-image-preview .dz-progress .dz-upload {
      width: 100%;
      background: #880a1f; }
  .dropzone .dz-preview.dz-image-preview .dz-error-message {
    border-radius: 15px;
    background: #dc3545;
    top: 60px; }
    .dropzone .dz-preview.dz-image-preview .dz-error-message:after {
      border-bottom: 6px solid #dc3545; }
  .dropzone .dz-preview.dz-image-preview [data-dz-name] {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    display: inline-block;
    overflow: hidden; }

.custom-switch .custom-switch-input + .custom-switch-btn {
  background: #424242; }

.custom-switch.custom-switch-primary
.custom-switch-input:checked
+ .custom-switch-btn {
  background: #880a1f;
  border: 1px solid #880a1f; }

.custom-switch.custom-switch-secondary
.custom-switch-input:checked
+ .custom-switch-btn {
  background: #e7284a;
  border: 1px solid #e7284a; }

.custom-switch.custom-switch-primary-inverse
.custom-switch-input
+ .custom-switch-btn {
  border: 1px solid #424242; }

.custom-switch.custom-switch-primary-inverse
.custom-switch-input:checked
+ .custom-switch-btn {
  background: #252225;
  border: 1px solid #880a1f; }

.custom-switch.custom-switch-primary-inverse
.custom-switch-input:checked
+ .custom-switch-btn:after {
  background: #880a1f; }

.custom-switch.custom-switch-secondary-inverse
.custom-switch-input
+ .custom-switch-btn {
  border: 1px solid #424242; }

.custom-switch.custom-switch-secondary-inverse
.custom-switch-input:checked
+ .custom-switch-btn {
  background: #252225;
  border: 1px solid #e7284a; }

.custom-switch.custom-switch-secondary-inverse
.custom-switch-input:checked
+ .custom-switch-btn:after {
  background: #e7284a; }

.input-group-text {
  border-radius: 0.1rem; }

.custom-switch .custom-switch-input + .custom-switch-btn:after {
  background: #252225; }

.custom-switch .custom-switch-input + .custom-switch-btn {
  border-color: #424242; }

.noUi-target {
  background: #252225;
  border-color: #424242;
  box-shadow: initial; }

.noUi-tooltip {
  background: #252225;
  color: #bcbcbc;
  border-color: #424242; }

.form-control-sm,
.input-group-sm > .form-control,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn {
  border-radius: 0.1rem; }

.form-control-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn {
  border-radius: 0.1rem; }

.custom-select {
  border-radius: 0.1rem;
  padding: 0.75rem 0.75rem 0.5rem 0.75rem; }

.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
  outline: initial !important;
  box-shadow: initial !important; }

.custom-select {
  height: calc(2.5rem + 2px); }

.custom-select:focus {
  border-color: #880a1f; }

.custom-file-input {
  box-shadow: initial !important; }

.custom-file-label {
  box-shadow: initial !important;
  border-radius: 0.1rem;
  height: calc(2.5rem + 2px);
  padding: 0.75rem 0.75rem 0.5rem 0.75rem; }

.custom-file {
  height: calc(2.5rem + 2px); }

.custom-file-label:focus,
.custom-file-input:focus {
  border-color: #880a1f; }

.custom-file-label::after {
  height: calc(calc(2.5rem + 2px) - 1px * 2);
  padding: 0.75rem 0.75rem 0.5rem 0.75rem; }

.jumbotron {
  background: initial; }

.has-top-label label,
.has-top-label > span,
.has-float-label label,
.has-float-label > span {
  color: white; }

/* 23.Slider(Range) */
.noUi-connect {
  background: #880a1f; }

.noUi-connects {
  border-radius: 0.1rem; }

.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: none; }

.noUi-handle {
  outline: initial;
  box-shadow: initial !important; }

.noUi-horizontal {
  height: 8px; }

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -7px; }

.noUi-horizontal .noUi-tooltip {
  top: 120%;
  bottom: unset;
  padding-left: 10px;
  padding-right: 10px; }

/* 24.Navs */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #880a1f; }

.nav-pills .nav-link {
  border-radius: 50px; }

@media (max-width: 767px) {
  .nav-link {
    padding: 0.5rem 0.5rem; } }

.nav-link.active {
  color: #880a1f; }

.page-item {
  padding: 10px; }
  @media (max-width: 767px) {
    .page-item {
      padding: 3px; } }
  .page-item .page-link {
    outline: initial !important;
    box-shadow: initial !important;
    line-height: 1.7;
    border-radius: 40px !important;
    min-width: 38px;
    text-align: center;
    height: 38px;
    padding: 0.55rem 0; }
    @media (max-width: 575px) {
      .page-item .page-link {
        min-width: 30px;
        height: 30px;
        line-height: 0.9;
        font-size: 0.76rem; } }
    .page-item .page-link.next {
      background: #880a1f;
      color: #252225;
      border: 1px solid #880a1f; }
    .page-item .page-link.prev, .page-item .page-link.prev {
      background: #880a1f;
      border: 1px solid #880a1f;
      color: #252225; }
    .page-item .page-link.first, .page-item .page-link.last {
      background: transparent;
      color: #880a1f;
      border: 1px solid #880a1f;
      border-radius: 30px; }
      .page-item .page-link.first:hover, .page-item .page-link.last:hover {
        background: #880a1f;
        color: #252225;
        border: 1px solid #880a1f; }
    .page-item .page-link:hover {
      background-color: transparent;
      border-color: #b80d2a;
      color: #880a1f; }
  .page-item.active .page-link {
    background: transparent;
    border: 1px solid #880a1f;
    color: #880a1f; }
  .page-item.disabled .page-link {
    border-color: #424242;
    color: #424242;
    background: transparent; }

.page-link {
  background-color: transparent;
  border-color: transparent;
  color: #bcbcbc; }

.btn-sm.page-link {
  padding: 0.5rem 0.5rem; }

.pagination-lg .page-item {
  padding: 15px; }
  @media (max-width: 767px) {
    .pagination-lg .page-item {
      padding: 3px; } }
  .pagination-lg .page-item .page-link {
    min-width: 50px;
    height: 50px; }
    @media (max-width: 767px) {
      .pagination-lg .page-item .page-link {
        min-width: 38px;
        height: 38px;
        padding: 0.55rem 0;
        line-height: 1.5;
        font-size: 0.8rem; } }
    @media (max-width: 575px) {
      .pagination-lg .page-item .page-link {
        min-width: 30px;
        height: 30px;
        line-height: 0.9;
        font-size: 0.76rem; } }

.pagination-sm .page-item {
  padding: 6px; }
  @media (max-width: 767px) {
    .pagination-sm .page-item {
      padding: 3px; } }
  .pagination-sm .page-item .page-link {
    min-width: 30px;
    height: 30px;
    line-height: 0.9;
    font-size: 0.76rem; }

/* 25. Tooltip and popover */
.popover {
  border-radius: 0.1rem; }

.popover-header {
  background-color: transparent;
  border-bottom: initial; }

.tooltip-inner {
  padding: 0.5rem 0.75rem;
  color: #bcbcbc;
  background-color: white;
  border-radius: 0.1rem;
  border: 1px solid #424242; }

.tooltip.show {
  opacity: 1; }

.tooltip .arrow::before,
.tooltip .arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid; }

.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.bs-tooltip-right .arrow::after,
.bs-tooltip-auto[x-placement^="right"] .arrow::after {
  border-width: 0.5rem 0.5rem 0.5rem 0; }

.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before {
  left: 0;
  border-right-color: rgba(0, 0, 0, 0.25); }

.bs-tooltip-right .arrow::after,
.bs-tooltip-auto[x-placement^="right"] .arrow::after {
  left: 1px;
  border-right-color: #fff; }

.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.bs-tooltip-right .arrow::after,
.bs-tooltip-auto[x-placement^="right"] .arrow::after {
  border-width: 0.4rem 0.4rem 0.4rem 0; }

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.25); }

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::after,
.bs-tooltip-auto[x-placement^="top"] .arrow::after {
  border-width: 0.5rem 0.5rem 0; }

.bs-tooltip-top .arrow::after,
.bs-tooltip-auto[x-placement^="top"] .arrow::after {
  bottom: 1px;
  border-top-color: #fff; }

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::after,
.bs-tooltip-auto[x-placement^="top"] .arrow::after {
  border-width: 0.4rem 0.4rem 0; }

.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::after,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::after {
  border-width: 0 0.5rem 0.5rem 0.5rem; }

.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.25); }

.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::after,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::after {
  border-width: 0 0.5rem 0.5rem 0.5rem; }

.bs-tooltip-bottom .arrow::after,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::after {
  top: 1px;
  border-bottom-color: #fff; }

.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^="left"] .arrow::before,
.bs-tooltip-left .arrow::after,
.bs-tooltip-auto[x-placement^="left"] .arrow::after {
  border-width: 0.5rem 0 0.5rem 0.5rem; }

.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^="left"] .arrow::before {
  right: 0;
  border-left-color: rgba(0, 0, 0, 0.25); }

.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^="left"] .arrow::before,
.bs-tooltip-left .arrow::after,
.bs-tooltip-auto[x-placement^="left"] .arrow::after {
  border-width: 0.5rem 0 0.5rem 0.5rem; }

.bs-tooltip-left .arrow::after,
.bs-tooltip-auto[x-placement^="left"] .arrow::after {
  right: 0;
  border-left-color: #fff; }

.search-sm {
  position: relative; }
  .search-sm input {
    background: none;
    outline: initial !important;
    border: 1px solid #b2b2b2;
    border-radius: 15px;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    font-size: 0.76rem;
    line-height: 1.3; }
  .search-sm:after {
    font-family: "simple-line-icons";
    content: "\E090";
    font-size: 14px;
    color: #b2b2b2;
    position: absolute;
    right: 10px;
    text-align: center;
    cursor: pointer;
    top: 2px; }

/* 26.Progress */
.progress {
  height: 3px; }

.progress-bar {
  background-color: #880a1f; }

.progressbar-text {
  position: absolute;
  left: 0;
  width: 50px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: #bcbcbc !important; }

.progress-bar-circle {
  width: 54px;
  height: 54px; }
  .progress-bar-circle svg path:first-of-type {
    stroke: #424242; }
  .progress-bar-circle svg path:last-of-type {
    stroke: #880a1f; }
  .progress-bar-circle.progress-bar-banner svg path:first-of-type {
    stroke: #4a0511; }
  .progress-bar-circle.progress-bar-banner svg path:last-of-type {
    stroke: white; }

.progress-banner {
  height: 200px;
  background-image: linear-gradient(to right top, #5d0413, #a32337, #992235);
  transition: 0.5s;
  background-size: 200% auto;
  cursor: pointer; }
  .progress-banner .lead {
    font-size: 1.5rem;
    margin-bottom: 0.5rem; }
    @media (max-width: 1199px) {
      .progress-banner .lead {
        font-size: 1.2rem;
        margin-bottom: 0.2rem; } }
  .progress-banner i {
    font-size: 2.7rem;
    margin-bottom: 1rem; }
    @media (max-width: 1199px) {
      .progress-banner i {
        font-size: 2rem;
        margin-bottom: 0.2rem; } }
  .progress-banner .progress-bar-circle.progress-bar-banner {
    width: 120px;
    height: 120px; }
    @media (max-width: 1199px) {
      .progress-banner .progress-bar-circle.progress-bar-banner {
        width: 80px;
        height: 80px; } }
  .progress-banner .progress-bar-banner .progressbar-text {
    color: white !important;
    font-size: 1.7rem;
    width: 110px;
    font-weight: 300; }
    @media (max-width: 1199px) {
      .progress-banner .progress-bar-banner .progressbar-text {
        font-size: 1.2rem;
        margin-bottom: 0.2rem; } }
  .progress-banner:hover {
    background-position: right top; }

/* 27.Rating */
.br-theme-bootstrap-stars .br-widget a.br-active:after {
  color: #880a1f;
  font-weight: 900; }

.br-theme-bootstrap-stars .br-widget a.br-selected:after {
  color: #880a1f;
  font-weight: 900; }

/* 28.Sortable */
.sortable {
  cursor: default; }

.sortable span {
  vertical-align: middle; }

.sortable-ghost {
  opacity: 0.5; }

/* 29.Spinner */
.spinner {
  width: 36px;
  text-align: center; }

.spinner > div {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
  animation: sk-bouncedelay 1.2s infinite ease-in-out both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/* 30.Croppper */
.cropper-line {
  background-color: #880a1f; }

.cropper-point {
  background-color: #880a1f; }

.cropper-view-box {
  outline-color: #880a1f;
  outline: #880a1f; }

.cropper-preview {
  overflow: hidden; }

#cropperContainer {
  height: 300px;
  display: none; }

/* 31.Modal */
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 1.75rem; }

.modal .modal-header {
  border-bottom: 1px solid #424242; }

.modal .modal-footer {
  border-top: 1px solid #424242; }

.modal .close {
  color: #bcbcbc;
  text-shadow: initial; }

.modal .modal-content {
  border: initial;
  border-radius: 0.1rem;
  background: #252225; }

.modal-right {
  padding-right: 0 !important; }
  .modal-right .modal-dialog {
    margin: 0 auto;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    max-width: 380px; }
  .modal-right .modal-content {
    min-height: 100%; }
  .modal-right .modal-header {
    height: 120px; }
    @media (max-width: 1439px) {
      .modal-right .modal-header {
        height: 90px; } }
    @media (max-width: 1199px) {
      .modal-right .modal-header {
        height: 80px; } }
    @media (max-width: 767px) {
      .modal-right .modal-header {
        height: 70px; } }
  .modal-right .modal-footer {
    justify-content: center; }
  .modal-right.modal.fade .modal-dialog {
    transform: translate(25%, 0); }
  .modal-right.modal.show .modal-dialog {
    transform: translate(0, 0); }

.modal-left .modal-dialog {
  margin: 0 auto;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  max-width: 380px; }

.modal-left .modal-content {
  min-height: 100%; }

.modal-left .modal-header {
  height: 120px; }

.modal-left .modal-footer {
  justify-content: center; }

.modal-left.modal.fade .modal-dialog {
  transform: translate(-25%, 0); }

.modal-left.modal.show .modal-dialog {
  transform: translate(0, 0); }

/* 32.Authorization */
.auth-card {
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1); }
  .auth-card .image-side {
    width: 40%;
    background: url("../img/login-balloon.jpg") no-repeat center top;
    background-size: cover;
    padding: 80px 40px; }
    .auth-card .image-side .h3 {
      line-height: 0.8rem; }
  .auth-card .form-side {
    width: 60%;
    padding: 80px; }
  @media (max-width: 991px) {
    .auth-card {
      flex-direction: column; }
      .auth-card .image-side {
        width: 100%;
        padding: 60px; }
      .auth-card .form-side {
        width: 100%;
        padding: 60px; } }
  @media (max-width: 767px) {
    .auth-card p.h2 {
      font-size: 1.6rem; } }
  @media (max-width: 575px) {
    .auth-card {
      flex-direction: column; }
      .auth-card .image-side {
        padding: 35px 30px; }
      .auth-card .form-side {
        padding: 35px 30px; }
      .auth-card .logo-single {
        margin-bottom: 20px; }
      .auth-card p.h2 {
        font-size: 1.4rem; } }

/* 33.Html Editors */
.html-editor {
  height: 350px; }

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #880a1f; }

.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: #880a1f; }

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-mitter,
.ql-snow .ql-toolbar button:hover .ql-stroke-mitter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-mitter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-mitter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-mitter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-mitter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-mitter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-mitter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-mitter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-mitter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-mitter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-mitter {
  stroke: #880a1f; }

.html-editor-bubble {
  height: 200px; }

.html-editor-bubble .ql-editor {
  border: 1px solid #424242; }

.ql-tooltip {
  z-index: 4; }

.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  height: 350px; }

.ck.ck-content.ck-editor__editable.ck-rounded-corners {
  box-shadow: initial !important; }

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-focused {
  border-color: #424242; }

.ck.ck-toolbar {
  background: white !important; }

/* 34.Icons */
.simple-line-icons .glyph,
.mind-icons .glyph {
  width: 14.28%;
  text-align: center;
  float: left;
  height: 100px; }
  .simple-line-icons .glyph .glyph-icon,
  .simple-line-icons .glyph .fa,
  .mind-icons .glyph .glyph-icon,
  .mind-icons .glyph .fa {
    font-size: 32px; }
  .simple-line-icons .glyph .author-name,
  .mind-icons .glyph .author-name {
    display: none; }
  .simple-line-icons .glyph .class-name,
  .mind-icons .glyph .class-name {
    font-size: 0.76rem;
    color: #a0a0a0 !important; }
  @media (max-width: 1199px) {
    .simple-line-icons .glyph,
    .mind-icons .glyph {
      width: 16.66%; } }
  @media (max-width: 991px) {
    .simple-line-icons .glyph,
    .mind-icons .glyph {
      width: 20%; } }
  @media (max-width: 767px) {
    .simple-line-icons .glyph,
    .mind-icons .glyph {
      width: 25%; } }
  @media (max-width: 575px) {
    .simple-line-icons .glyph,
    .mind-icons .glyph {
      width: 50%; } }

.chart-container {
  height: 300px; }

.theme-colors {
  width: 280px;
  position: fixed;
  z-index: 1030;
  top: 50%;
  right: 0;
  background: #252225;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1);
  transform: translate(280px, -50%);
  transition: transform 0.4s ease-out;
  padding-top: 10px;
  padding-bottom: 10px; }
  .theme-colors .theme-button {
    position: absolute;
    left: -34px;
    background: #252225;
    padding: 13px 7px 13px 7px;
    border-radius: 0.2rem;
    color: #bcbcbc;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.04);
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #880a1f; }
  .theme-colors .theme-color {
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 20px;
    transition: background 0.25s; }
    .theme-colors .theme-color.active, .theme-colors .theme-color:hover {
      background: #252225; }
  .theme-colors .theme-color-purple {
    border: 3px solid #922c88;
    background: #922c88; }
  .theme-colors .theme-color-blue {
    border: 3px solid #145388;
    background: #145388; }
  .theme-colors .theme-color-orange {
    border: 3px solid #e2863b;
    background: #e2863b; }
  .theme-colors .theme-color-green {
    border: 3px solid #576a3d;
    background: #576a3d; }
  .theme-colors .theme-color-red {
    border: 3px solid #880a1f;
    background: #880a1f; }
  .theme-colors.shown {
    transform: translate(0, -50%); }

/* 35.Loading */
.loading {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(136, 10, 31, 0.2);
  border-radius: 50%;
  border-top-color: #880a1f;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50%);
  top: calc(50%);
  position: fixed;
  z-index: 1; }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }
